<a href="https://colab.research.google.com/github/nxxk23/bsc_dpdm22/blob/main/Performance_Evaluation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
from sklearn import datasets
iris_data = datasets.load_iris()

In [42]:
X = iris_data['data']
y = iris_data['target']

In [43]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score, KFold

In [44]:
from sklearn.metrics import SCORERS
model = DecisionTreeClassifier()
# Define the K-fold cross validation
kf = KFold(n_splits=10, shuffle=True, random_state=42)

# Train and Evaluate the model using 10-fold cross-validation
scores = cross_val_score(model, X, y, cv=kf)

# Print the accuracy scores for each fold and the mean score
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std()* 2))

Accuracy: 0.95 (+/- 0.12)

In [45]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score, LeaveOneOut
model = DecisionTreeClassifier(max_depth=2)
# Define the K-fold cross validation
loo = LeaveOneOut()

# Train and Evaluate the model using 10-fold cross-validation
scores = cross_val_score(model, X, y, cv=loo)

# Print the accuracy scores for each fold and the mean score
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std()* 2))

Accuracy: 0.95 (+/- 0.42)

transfrom numpy array to dataframe

In [46]:
import numpy as np
import pandas as pd

In [47]:
columns = iris_data['feature_names']
x_df = pd.DataFrame(X, columns=columns)
x_df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [48]:
x_df['label'] = y
x_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [49]:
shuffle_df = x_df.sample(frac=1.0)
shuffle_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
116,6.5,3.0,5.5,1.8,2
93,5.0,2.3,3.3,1.0,1
119,6.0,2.2,5.0,1.5,2
83,6.0,2.7,5.1,1.6,1
107,7.3,2.9,6.3,1.8,2
...,...,...,...,...,...
39,5.1,3.4,1.5,0.2,0
52,6.9,3.1,4.9,1.5,1
7,5.0,3.4,1.5,0.2,0
11,4.8,3.4,1.6,0.2,0
58,6.6,2.9,4.6,1.3,1

In [50]:
shuffle_df['fold'] = 15*[1,2,3,4,5,6,7,8,9,10]

In [51]:
shuffle_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label,fold
116,6.5,3.0,5.5,1.8,2,1
93,5.0,2.3,3.3,1.0,1,2
119,6.0,2.2,5.0,1.5,2,3
83,6.0,2.7,5.1,1.6,1,4
107,7.3,2.9,6.3,1.8,2,5
...,...,...,...,...,...,...
39,5.1,3.4,1.5,0.2,0,6
52,6.9,3.1,4.9,1.5,1,7
7,5.0,3.4,1.5,0.2,0,8
11,4.8,3.4,1.6,0.2,0,9
58,6.6,2.9,4.6,1.3,1,10

In [52]:
X = shuffle_df.drop(['label','fold'], axis=1)
X

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
116                6.5               3.0                5.5               1.8
93                 5.0               2.3                3.3               1.0
119                6.0               2.2                5.0               1.5
83                 6.0               2.7                5.1               1.6
107                7.3               2.9                6.3               1.8
..                 ...               ...                ...               ...
39                 5.1               3.4                1.5               0.2
52                 6.9               3.1                4.9               1.5
7                  5.0               3.4                1.5               0.2
11                 4.8               3.4                1.6               0.2
58                 6.6               2.9                4.6               1.3

[150 rows x 4 columns]

In [53]:
import pandas as pd
from sklearn.model_selection import KFold
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import KFold, cross_val_score
from sklearn.tree import DecisionTreeClassifier

# Split the data into features and target
X = x_df.drop('label', axis=1)
x_df['label'] = y
y = x_df['label']

# Set the number of folds and initialize a new column to store the fold number
num_folds = 10
X['fold'] = 0

# Create a KFold object and use it to assign fold numbers to each row
kf = KFold(n_splits=num_folds, shuffle=True, random_state=42)
for fold, (train_index, test_index) in enumerate(kf.split(X)):
    X.loc[test_index, 'fold'] = fold

In [54]:
# Perform cross validation and compute the accuracy for each fold
fold_accuracies = cross_val_score(model, X, y, cv=kf)

# Compute the mean accuracy across all folds
mean_accuracy = fold_accuracies.mean()

# Print the accuracy for each fold and the mean accuracy
for fold, accuracy in enumerate(fold_accuracies):
    print(f'Fold {fold + 1} accuracy: {accuracy:.3f}')
print(f'Mean accuracy: {mean_accuracy:.3f}')

Fold 1 accuracy: 1.000
Fold 2 accuracy: 1.000
Fold 3 accuracy: 1.000
Fold 4 accuracy: 0.933
Fold 5 accuracy: 1.000
Fold 6 accuracy: 0.867
Fold 7 accuracy: 0.867
Fold 8 accuracy: 1.000
Fold 9 accuracy: 0.933
Fold 10 accuracy: 0.867
Mean accuracy: 0.947