<a href="https://colab.research.google.com/github/nxxk23/bsc_dpdm22/blob/main/Performance_Evaluation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
from sklearn import datasets
iris_data = datasets.load_iris()

In [4]:
X = iris_data['data']
y = iris_data['target']

In [6]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score, KFold

In [10]:
from sklearn.metrics import SCORERS
model = DecisionTreeClassifier()
# Define the K-fold cross validation
kf = KFold(n_splits=10, shuffle=True, random_state=42)

# Train and Evaluate the model using 10-fold cross-validation
scores = cross_val_score(model, X, y, cv=kf)

# Print the accuracy scores for each fold and the mean score
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std()* 2))

Accuracy: 0.95 (+/- 0.12)

In [13]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score, LeaveOneOut
model = DecisionTreeClassifier(max_depth=2)
# Define the K-fold cross validation
loo = LeaveOneOut()

# Train and Evaluate the model using 10-fold cross-validation
scores = cross_val_score(model, X, y, cv=loo)

# Print the accuracy scores for each fold and the mean score
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std()* 2))

Accuracy: 0.95 (+/- 0.42)

transfrom numpy array to dataframe

In [15]:
import numpy as np
import pandas as pd

In [16]:
columns = iris_data['feature_names']
x_df = pd.DataFrame(X, columns=columns)
x_df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [18]:
x_df['label'] = y
x_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [26]:
df = x_df.sample(frac=1.0)
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
93,5.0,2.3,3.3,1.0,1
18,5.7,3.8,1.7,0.3,0
19,5.1,3.8,1.5,0.3,0
29,4.7,3.2,1.6,0.2,0
133,6.3,2.8,5.1,1.5,2
...,...,...,...,...,...
2,4.7,3.2,1.3,0.2,0
91,6.1,3.0,4.6,1.4,1
30,4.8,3.1,1.6,0.2,0
57,4.9,2.4,3.3,1.0,1
101,5.8,2.7,5.1,1.9,2

In [28]:
df['fold'] = 15*[1,2,3,4,5,6,7,8,9,10]

In [29]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label,fold
93,5.0,2.3,3.3,1.0,1,1
18,5.7,3.8,1.7,0.3,0,2
19,5.1,3.8,1.5,0.3,0,3
29,4.7,3.2,1.6,0.2,0,4
133,6.3,2.8,5.1,1.5,2,5
...,...,...,...,...,...,...
2,4.7,3.2,1.3,0.2,0,6
91,6.1,3.0,4.6,1.4,1,7
30,4.8,3.1,1.6,0.2,0,8
57,4.9,2.4,3.3,1.0,1,9
101,5.8,2.7,5.1,1.9,2,10