<a href="https://colab.research.google.com/github/nxxk23/bsc_dpdm22/blob/main/Performance_Evaluation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sklearn import datasets
iris_data = datasets.load_iris()

In [2]:
X = iris_data['data']
y = iris_data['target']

In [3]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score, KFold

In [4]:
from sklearn.metrics import SCORERS
model = DecisionTreeClassifier()
# Define the K-fold cross validation
kf = KFold(n_splits=10, shuffle=True, random_state=42)

# Train and Evaluate the model using 10-fold cross-validation
scores = cross_val_score(model, X, y, cv=kf)

# Print the accuracy scores for each fold and the mean score
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std()* 2))

Accuracy: 0.95 (+/- 0.10)

In [5]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score, LeaveOneOut
model = DecisionTreeClassifier(max_depth=2)
# Define the K-fold cross validation
loo = LeaveOneOut()

# Train and Evaluate the model using 10-fold cross-validation
scores = cross_val_score(model, X, y, cv=loo)

# Print the accuracy scores for each fold and the mean score
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std()* 2))

Accuracy: 0.95 (+/- 0.42)

transfrom numpy array to dataframe

In [6]:
import numpy as np
import pandas as pd

In [7]:
columns = iris_data['feature_names']
x_df = pd.DataFrame(X, columns=columns)
x_df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [8]:
x_df['label'] = y
x_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [33]:
shuffle_df = x_df.sample(frac=1.0,random_state=6)
shuffle_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
4,5.0,3.6,1.4,0.2,0
116,6.5,3.0,5.5,1.8,2
2,4.7,3.2,1.3,0.2,0
23,5.1,3.3,1.7,0.5,0
123,6.3,2.7,4.9,1.8,2
...,...,...,...,...,...
148,6.2,3.4,5.4,2.3,2
79,5.7,2.6,3.5,1.0,1
109,7.2,3.6,6.1,2.5,2
106,4.9,2.5,4.5,1.7,2
138,6.0,3.0,4.8,1.8,2

In [34]:
shuffle_df['fold'] = 15*[1,2,3,4,5,6,7,8,9,10]

In [35]:
shuffle_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label,fold
4,5.0,3.6,1.4,0.2,0,1
116,6.5,3.0,5.5,1.8,2,2
2,4.7,3.2,1.3,0.2,0,3
23,5.1,3.3,1.7,0.5,0,4
123,6.3,2.7,4.9,1.8,2,5
...,...,...,...,...,...,...
148,6.2,3.4,5.4,2.3,2,6
79,5.7,2.6,3.5,1.0,1,7
109,7.2,3.6,6.1,2.5,2,8
106,4.9,2.5,4.5,1.7,2,9
138,6.0,3.0,4.8,1.8,2,10

#HW6 วนลูป ทำ 10-folds cross validation

In [42]:
import pandas as pd
import numpy as np
from sklearn.model_selection import KFold
from sklearn.model_selection import KFold, cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import precision_score, recall_score, accuracy_score

In [37]:
test_fold = 1
test_data = shuffle_df[shuffle_df['fold']==1]
training_data = shuffle_df[shuffle_df['fold']!=1] 
#ตัด row

In [38]:
X_test = test_data.iloc[:,:-2]
y_test = test_data.iloc[:,-2]
X_train = training_data.iloc[:,:-2]
y_train = training_data.iloc[:,-2]
#ตัด column

In [39]:
#Define
model = DecisionTreeClassifier(max_depth=2)
#Train
model.fit(X_train, y_train)
#Predict
y_predict = model.predict(X_test)

In [40]:
acc = accuracy_score(y_test, y_predict)
print(f'accuracy of fold {test_fold} = {acc}')

accuracy of fold 1 = 0.8666666666666667

In [44]:
#create list to stroe data
acc_fold = []

for test_fold in range(1,11):
    test_data = shuffle_df[shuffle_df['fold']==test_fold]
    training_data = shuffle_df[shuffle_df['fold']!=test_fold] 

    X_test = test_data.iloc[:,:-2]
    y_test = test_data.iloc[:,-2]
    X_train = training_data.iloc[:,:-2]
    y_train = training_data.iloc[:,-2]

    #Define
    model = DecisionTreeClassifier(max_depth=2)
    #Train
    model.fit(X_train, y_train)
    #Predict
    y_predict = model.predict(X_test)

    acc = accuracy_score(y_test, y_predict)
    print(f'accuracy of fold {test_fold} = {acc}')
    acc_fold.append(acc)

print(f'\naverage accuracy = {np.mean(acc)}')

accuracy of fold 1 = 0.8666666666666667
accuracy of fold 2 = 1.0
accuracy of fold 3 = 0.9333333333333333
accuracy of fold 4 = 1.0
accuracy of fold 5 = 0.9333333333333333
accuracy of fold 6 = 0.9333333333333333
accuracy of fold 7 = 0.9333333333333333
accuracy of fold 8 = 1.0
accuracy of fold 9 = 0.8666666666666667
accuracy of fold 10 = 0.9333333333333333

average accuracy = 0.9333333333333333

#Add Precision and recall

In [46]:
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score, KFold
from sklearn.metrics import precision_score, recall_score

# Load the iris dataset
iris = load_iris()

# Define the decision tree model
model = DecisionTreeClassifier()

# Define the k-fold cross validation
kf = KFold(n_splits=10, shuffle=True, random_state=42)

# Train and evaluate the model using 10-fold cross validation
precision_scores = []
recall_scores = []
for train_idx, test_idx in kf.split(iris.data, iris.target):
    # Get the training and testing data for this fold
    X_train, y_train = iris.data[train_idx], iris.target[train_idx]
    X_test, y_test = iris.data[test_idx], iris.target[test_idx]

    # Train the model on the training data for this fold
    model.fit(X_train, y_train)

    # Predict the labels for the testing data for this fold
    y_pred = model.predict(X_test)

    # Calculate the precision and recall for this fold
    precision = precision_score(y_test, y_pred, average='macro')
    recall = recall_score(y_test, y_pred, average='macro')

    # Add the precision and recall scores to the lists for all folds
    precision_scores.append(precision)
    recall_scores.append(recall)

# Print the average precision and recall scores across all folds
print("Average precision score: %0.2f" % (sum(precision_scores) / len(precision_scores)))
print("Average recall score: %0.2f" % (sum(recall_scores) / len(recall_scores)))

Average precision score: 0.95
Average recall score: 0.95