<a href="https://colab.research.google.com/github/nxxk23/bsc_dpdm22/blob/main/Quiz_Group_5_20_of_Midterm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

เตรียมข้อมูลของกรม อุตุ() ให้อยู่ในรูปแบบ ตารางด้านล่าง เพื่อเตรียมข้อมูลสำหรับสร้าง Model ทำนาย อุณหภูมิต่ำสุดของวันจากค่าอื่นๆ

![image.png]()

column เดือน-ปี สามารถยุบรวมเป็น 1 column ได้

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

# Import and Prepare Data

## ความกด

In [4]:
import pandas as pd
p1 = pd.read_excel('/content/drive/MyDrive/DPDM/ความกด(เปอร์เซ็นต์)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
p2 = pd.read_excel('/content/drive/MyDrive/DPDM/ความกด(เปอร์เซ็นต์)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
p3 = pd.read_excel('/content/drive/MyDrive/DPDM/ความกด(เปอร์เซ็นต์)/จ.สกลนคร.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
p4 = pd.read_excel('/content/drive/MyDrive/DPDM/ความกด(เปอร์เซ็นต์)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
p5 = pd.read_excel('/content/drive/MyDrive/DPDM/ความกด(เปอร์เซ็นต์)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)

### เปลี่ยนชื่อคอลัมน์ ใส่ชื่อจังหวัด

In [5]:
p1.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
p1['จังหวัด'] = 'ขอนแก่น'

p2.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
p2['จังหวัด'] = 'นครพนม'

p3.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
p3['จังหวัด'] = 'สกลนคร'

p4.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
p4['จังหวัด'] = 'หนองคาย'

p5.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
p5['จังหวัด'] = 'เลย'

In [6]:
p1['ปี'] = p1['เดือน/ปี'].dt.year
p1['เดือน'] = p1['เดือน/ปี'].dt.month
p2['ปี'] = p2['เดือน/ปี'].dt.year
p2['เดือน'] = p2['เดือน/ปี'].dt.month
p3['ปี'] = p3['เดือน/ปี'].dt.year
p3['เดือน'] = p3['เดือน/ปี'].dt.month
p4['ปี'] = p4['เดือน/ปี'].dt.year
p4['เดือน'] = p4['เดือน/ปี'].dt.month
p5['ปี'] = p5['เดือน/ปี'].dt.year
p5['เดือน'] = p5['เดือน/ปี'].dt.month

In [7]:
p1=p1[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]
p2=p2[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]
p3=p3[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]       
p4=p4[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]
p5=p5[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]

In [8]:
p1=p1.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'ความกด'})
p2=p2.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'ความกด'})
p3=p3.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'ความกด'})
p4=p4.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'ความกด'})
p5=p5.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'ความกด'})

In [9]:
p1

      จังหวัด                     สถานี  เดือน    ปี วันที่   ความกด
0     ขอนแก่น  352201-หนองคาย จ.หนองคาย     10  2011      1  1005.47
1     ขอนแก่น  352201-หนองคาย จ.หนองคาย     10  2011      2  1006.65
2     ขอนแก่น  352201-หนองคาย จ.หนองคาย     10  2011      3  1007.49
3     ขอนแก่น  352201-หนองคาย จ.หนองคาย     10  2011      4  1008.28
4     ขอนแก่น  352201-หนองคาย จ.หนองคาย     10  2011      5  1009.88
...       ...                       ...    ...   ...    ...      ...
1700  ขอนแก่น  352201-หนองคาย จ.หนองคาย      2  2022     27  1014.37
1701  ขอนแก่น  352201-หนองคาย จ.หนองคาย      2  2022     28  1013.04
1702  ขอนแก่น  352201-หนองคาย จ.หนองคาย      2  2022     29  1013.37
1703  ขอนแก่น  352201-หนองคาย จ.หนองคาย      2  2022     30  1013.98
1704  ขอนแก่น  352201-หนองคาย จ.หนองคาย      2  2022     31        -

[1705 rows x 6 columns]

In [10]:
pp = [p1,p2,p3,p4,p5]
all_p =pd.concat(pp)
all_p

      จังหวัด                     สถานี  เดือน    ปี วันที่   ความกด
0     ขอนแก่น  352201-หนองคาย จ.หนองคาย     10  2011      1  1005.47
1     ขอนแก่น  352201-หนองคาย จ.หนองคาย     10  2011      2  1006.65
2     ขอนแก่น  352201-หนองคาย จ.หนองคาย     10  2011      3  1007.49
3     ขอนแก่น  352201-หนองคาย จ.หนองคาย     10  2011      4  1008.28
4     ขอนแก่น  352201-หนองคาย จ.หนองคาย     10  2011      5  1009.88
...       ...                       ...    ...   ...    ...      ...
1700      เลย  352201-หนองคาย จ.หนองคาย      2  2022     27  1014.97
1701      เลย  352201-หนองคาย จ.หนองคาย      2  2022     28  1012.88
1702      เลย  352201-หนองคาย จ.หนองคาย      2  2022     29        -
1703      เลย  352201-หนองคาย จ.หนองคาย      2  2022     30        -
1704      เลย  352201-หนองคาย จ.หนองคาย      2  2022     31        -

[8525 rows x 6 columns]

## ความชื้นสัมพัทธ์

In [11]:
import pandas as pd
m1 = pd.read_excel('/content/drive/MyDrive/DPDM/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
m2 = pd.read_excel('/content/drive/MyDrive/DPDM/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
m3 = pd.read_excel('/content/drive/MyDrive/DPDM/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.สกลนคร.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
m4 = pd.read_excel('/content/drive/MyDrive/DPDM/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
m5 = pd.read_excel('/content/drive/MyDrive/DPDM/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)

### เปลี่ยนชื่อคอลัมน์ ใส่ชื่อจังหวัด

In [12]:
m1.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
m1['จังหวัด'] = 'ขอนแก่น'

m2.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
m2['จังหวัด'] = 'นครพนม'

m3.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
m3['จังหวัด'] = 'สกลนคร'

m4.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
m4['จังหวัด'] = 'หนองคาย'

m5.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
m5['จังหวัด'] = 'เลย'

In [13]:
m1['ปี'] = m1['เดือน/ปี'].dt.year
m1['เดือน'] = m1['เดือน/ปี'].dt.month
m2['ปี'] = m2['เดือน/ปี'].dt.year
m2['เดือน'] = m2['เดือน/ปี'].dt.month
m3['ปี'] = m3['เดือน/ปี'].dt.year
m3['เดือน'] = m3['เดือน/ปี'].dt.month
m4['ปี'] = m4['เดือน/ปี'].dt.year
m4['เดือน'] = m4['เดือน/ปี'].dt.month
m5['ปี'] = m5['เดือน/ปี'].dt.year
m5['เดือน'] = m5['เดือน/ปี'].dt.month

In [14]:
m1=m1[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]
m2=m2[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]
m3=m3[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]       
m4=m4[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]
m5=m5[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]

In [15]:
m1=m1.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'ความชื้นสัมพัทธ์'})
m2=m2.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'ความชื้นสัมพัทธ์'})
m3=m3.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'ความชื้นสัมพัทธ์'})
m4=m4.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'ความชื้นสัมพัทธ์'})
m5=m5.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'ความชื้นสัมพัทธ์'})

In [16]:
m1

      จังหวัด                     สถานี  เดือน    ปี วันที่ ความชื้นสัมพัทธ์
0     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      1               83
1     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      2               92
2     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      3               86
3     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      4               80
4     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      5               86
...       ...                       ...    ...   ...    ...              ...
1700  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      2  2022     27               58
1701  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      2  2022     28               62
1702  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      2  2022     29                -
1703  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      2  2022     30                -
1704  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      2  2022     31                -

[1705 rows x 6 columns]

In [17]:
mm = [m1,m2,m3,m4,m5]
all_m =pd.concat(mm)
all_m

      จังหวัด                     สถานี  เดือน    ปี วันที่ ความชื้นสัมพัทธ์
0     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      1               83
1     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      2               92
2     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      3               86
3     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      4               80
4     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      5               86
...       ...                       ...    ...   ...    ...              ...
1700      เลย     353301-เลย สกษ. จ.เลย      2  2022     27               74
1701      เลย     353301-เลย สกษ. จ.เลย      2  2022     28               72
1702      เลย     353301-เลย สกษ. จ.เลย      2  2022     29                -
1703      เลย     353301-เลย สกษ. จ.เลย      2  2022     30                -
1704      เลย     353301-เลย สกษ. จ.เลย      2  2022     31                -

[8525 rows x 6 columns]

## ความเร็วลม

In [18]:
import pandas as pd
w1 = pd.read_excel('/content/drive/MyDrive/DPDM/ความเร็วลม(นอต)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
w2 = pd.read_excel('/content/drive/MyDrive/DPDM/ความเร็วลม(นอต)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
w3 = pd.read_excel('/content/drive/MyDrive/DPDM/ความเร็วลม(นอต)/จ.สกลนคร.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
w4 = pd.read_excel('/content/drive/MyDrive/DPDM/ความเร็วลม(นอต)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
w5 = pd.read_excel('/content/drive/MyDrive/DPDM/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)

### เปลี่ยนชื่อคอลัมน์ ใส่ชื่อจังหวัด

In [19]:
w1.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
w1['จังหวัด'] = 'ขอนแก่น'

w2.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
w2['จังหวัด'] = 'นครพนม'

w3.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
      'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
w3['จังหวัด'] = 'สกลนคร'

w4.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
w4['จังหวัด'] = 'หนองคาย'

w5.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
w5['จังหวัด'] = 'เลย'

In [20]:
w1['ปี'] = w1['เดือน/ปี'].dt.year
w1['เดือน'] = w1['เดือน/ปี'].dt.month
w2['ปี'] = w2['เดือน/ปี'].dt.year
w2['เดือน'] = w2['เดือน/ปี'].dt.month
w3['ปี'] = w3['เดือน/ปี'].dt.year
w3['เดือน'] = w3['เดือน/ปี'].dt.month
w4['ปี'] = w4['เดือน/ปี'].dt.year
w4['เดือน'] = w4['เดือน/ปี'].dt.month
w5['ปี'] = w5['เดือน/ปี'].dt.year
w5['เดือน'] = w5['เดือน/ปี'].dt.month

In [21]:
w1=w1[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]
w2=w2[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]
w3=w3[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]       
w4=w4[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]
w5=w5[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]

In [22]:
w1=w1.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'ความเร็วลม'})
w2=w2.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'ความเร็วลม'})
w3=w3.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'ความเร็วลม'})
w4=w4.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'ความเร็วลม'})
w5=w5.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'ความเร็วลม'})

In [23]:
w1

      จังหวัด                  สถานี  เดือน    ปี วันที่ ความเร็วลม
0     ขอนแก่น  353301-เลย สกษ. จ.เลย     10  2011      1          3
1     ขอนแก่น  353301-เลย สกษ. จ.เลย     10  2011      2          2
2     ขอนแก่น  353301-เลย สกษ. จ.เลย     10  2011      3          3
3     ขอนแก่น  353301-เลย สกษ. จ.เลย     10  2011      4          2
4     ขอนแก่น  353301-เลย สกษ. จ.เลย     10  2011      5          2
...       ...                    ...    ...   ...    ...        ...
1700  ขอนแก่น  353301-เลย สกษ. จ.เลย      2  2022     27          2
1701  ขอนแก่น  353301-เลย สกษ. จ.เลย      2  2022     28          2
1702  ขอนแก่น  353301-เลย สกษ. จ.เลย      2  2022     29          -
1703  ขอนแก่น  353301-เลย สกษ. จ.เลย      2  2022     30          -
1704  ขอนแก่น  353301-เลย สกษ. จ.เลย      2  2022     31          -

[1705 rows x 6 columns]

In [24]:
ww = [w1,w2,w3,w4,w5]
all_w =pd.concat(ww)
all_w

      จังหวัด                  สถานี  เดือน    ปี วันที่ ความเร็วลม
0     ขอนแก่น  353301-เลย สกษ. จ.เลย     10  2011      1          3
1     ขอนแก่น  353301-เลย สกษ. จ.เลย     10  2011      2          2
2     ขอนแก่น  353301-เลย สกษ. จ.เลย     10  2011      3          3
3     ขอนแก่น  353301-เลย สกษ. จ.เลย     10  2011      4          2
4     ขอนแก่น  353301-เลย สกษ. จ.เลย     10  2011      5          2
...       ...                    ...    ...   ...    ...        ...
1700      เลย  353301-เลย สกษ. จ.เลย      2  2022     27         74
1701      เลย  353301-เลย สกษ. จ.เลย      2  2022     28         72
1702      เลย  353301-เลย สกษ. จ.เลย      2  2022     29          -
1703      เลย  353301-เลย สกษ. จ.เลย      2  2022     30          -
1704      เลย  353301-เลย สกษ. จ.เลย      2  2022     31          -

[8525 rows x 6 columns]

## จำนวนเมฆ

In [25]:
c1 = pd.read_excel('/content/drive/MyDrive/DPDM/จำนวนเมฆ(10ส่วน)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
c2 = pd.read_excel('/content/drive/MyDrive/DPDM/จำนวนเมฆ(10ส่วน)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
c3 = pd.read_excel('/content/drive/MyDrive/DPDM/จำนวนเมฆ(10ส่วน)/จ.สกลนคร.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
c4 = pd.read_excel('/content/drive/MyDrive/DPDM/จำนวนเมฆ(10ส่วน)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
c5 = pd.read_excel('/content/drive/MyDrive/DPDM/จำนวนเมฆ(10ส่วน)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)

### เปลี่ยนชื่อคอลัมน์ ใส่ชื่อจังหวัด

In [26]:
c1.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
c1['จังหวัด'] = 'ขอนแก่น'

c2.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
c2['จังหวัด'] = 'นครพนม'

c3.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
      'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
c3['จังหวัด'] = 'สกลนคร'

c4.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
c4['จังหวัด'] = 'หนองคาย'

c5.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
c5['จังหวัด'] = 'เลย'

In [27]:
c1['ปี'] = c1['เดือน/ปี'].dt.year
c1['เดือน'] = c1['เดือน/ปี'].dt.month
c2['ปี'] = c2['เดือน/ปี'].dt.year
c2['เดือน'] = c2['เดือน/ปี'].dt.month
c3['ปี'] = c3['เดือน/ปี'].dt.year
c3['เดือน'] = c3['เดือน/ปี'].dt.month
c4['ปี'] = c4['เดือน/ปี'].dt.year
c4['เดือน'] = c4['เดือน/ปี'].dt.month
c5['ปี'] = c5['เดือน/ปี'].dt.year
c5['เดือน'] = c5['เดือน/ปี'].dt.month

In [28]:
c1=c1[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]
c2=c2[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]
c3=c3[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]       
c4=c4[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]
c5=c5[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]

In [29]:
c1=c1.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'จำนวนเมฆ'})
c2=c2.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'จำนวนเมฆ'})
c3=c3.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'จำนวนเมฆ'})
c4=c4.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'จำนวนเมฆ'})
c5=c5.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'จำนวนเมฆ'})

In [30]:
c1

      จังหวัด                  สถานี  เดือน    ปี วันที่ จำนวนเมฆ
0     ขอนแก่น  353301-เลย สกษ. จ.เลย     10  2011      1        9
1     ขอนแก่น  353301-เลย สกษ. จ.เลย     10  2011      2       10
2     ขอนแก่น  353301-เลย สกษ. จ.เลย     10  2011      3       10
3     ขอนแก่น  353301-เลย สกษ. จ.เลย     10  2011      4        8
4     ขอนแก่น  353301-เลย สกษ. จ.เลย     10  2011      5       10
...       ...                    ...    ...   ...    ...      ...
1700  ขอนแก่น  353301-เลย สกษ. จ.เลย      2  2022     27        2
1701  ขอนแก่น  353301-เลย สกษ. จ.เลย      2  2022     28        2
1702  ขอนแก่น  353301-เลย สกษ. จ.เลย      2  2022     29        -
1703  ขอนแก่น  353301-เลย สกษ. จ.เลย      2  2022     30        -
1704  ขอนแก่น  353301-เลย สกษ. จ.เลย      2  2022     31        -

[1705 rows x 6 columns]

In [31]:
cc = [c1,c2,c3,c4,c5]
all_c =pd.concat(cc)
all_c

      จังหวัด                  สถานี  เดือน    ปี วันที่ จำนวนเมฆ
0     ขอนแก่น  353301-เลย สกษ. จ.เลย     10  2011      1        9
1     ขอนแก่น  353301-เลย สกษ. จ.เลย     10  2011      2       10
2     ขอนแก่น  353301-เลย สกษ. จ.เลย     10  2011      3       10
3     ขอนแก่น  353301-เลย สกษ. จ.เลย     10  2011      4        8
4     ขอนแก่น  353301-เลย สกษ. จ.เลย     10  2011      5       10
...       ...                    ...    ...   ...    ...      ...
1700      เลย  353301-เลย สกษ. จ.เลย      2  2022     27        3
1701      เลย  353301-เลย สกษ. จ.เลย      2  2022     28        2
1702      เลย  353301-เลย สกษ. จ.เลย      2  2022     29        -
1703      เลย  353301-เลย สกษ. จ.เลย      2  2022     30        -
1704      เลย  353301-เลย สกษ. จ.เลย      2  2022     31        -

[8522 rows x 6 columns]

## ปริมาณฝน

In [32]:
r1 = pd.read_excel('/content/drive/MyDrive/DPDM/ปริมาณฝน(มิลลิเมตร)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
r2 = pd.read_excel('/content/drive/MyDrive/DPDM/ปริมาณฝน(มิลลิเมตร)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
r3 = pd.read_excel('/content/drive/MyDrive/DPDM/ปริมาณฝน(มิลลิเมตร)/จ.สกล.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
r4 = pd.read_excel('/content/drive/MyDrive/DPDM/ปริมาณฝน(มิลลิเมตร)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
r5 = pd.read_excel('/content/drive/MyDrive/DPDM/ปริมาณฝน(มิลลิเมตร)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)

### เปลี่ยนชื่อคอลัมน์ ใส่ชื่อจังหวัด

In [33]:
r1.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
r1['จังหวัด'] = 'ขอนแก่น'

r2.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
r2['จังหวัด'] = 'นครพนม'

r3.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
      'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
r3['จังหวัด'] = 'สกลนคร'

r4.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
r4['จังหวัด'] = 'หนองคาย'

r5.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
r5['จังหวัด'] = 'เลย'

In [34]:
r1['ปี'] = r1['เดือน/ปี'].dt.year
r1['เดือน'] = r1['เดือน/ปี'].dt.month
r2['ปี'] = r2['เดือน/ปี'].dt.year
r2['เดือน'] = r2['เดือน/ปี'].dt.month
r3['ปี'] = r3['เดือน/ปี'].dt.year
r3['เดือน'] = r3['เดือน/ปี'].dt.month
r4['ปี'] = r4['เดือน/ปี'].dt.year
r4['เดือน'] = r4['เดือน/ปี'].dt.month
r5['ปี'] = r5['เดือน/ปี'].dt.year
r5['เดือน'] = r5['เดือน/ปี'].dt.month

In [35]:
r1=r1[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]
r2=r2[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]
r3=r3[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]       
r4=r4[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]
r5=r5[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]

In [36]:
r1=r1.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'ปริมาณฝน'})
r2=r2.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'ปริมาณฝน'})
r3=r3.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'ปริมาณฝน'})
r4=r4.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'ปริมาณฝน'})
r5=r5.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'ปริมาณฝน'})

In [37]:
r1

      จังหวัด                     สถานี  เดือน    ปี วันที่ ปริมาณฝน
0     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      1      1.4
1     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      2     17.7
2     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      3        3
3     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      4        0
4     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      5      2.2
...       ...                       ...    ...   ...    ...      ...
1700  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      2  2022     27        0
1701  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      2  2022     28        -
1702  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      2  2022     29        -
1703  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      2  2022     30        -
1704  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      2  2022     31        -

[1705 rows x 6 columns]

In [38]:
rr = [r1,r2,r3,r4,r5]
all_r =pd.concat(rr)
all_r

      จังหวัด                     สถานี  เดือน    ปี วันที่ ปริมาณฝน
0     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      1      1.4
1     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      2     17.7
2     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      3        3
3     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      4        0
4     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      5      2.2
...       ...                       ...    ...   ...    ...      ...
1698      เลย          353201-เลย จ.เลย      2  2022     27        0
1699      เลย          353201-เลย จ.เลย      2  2022     28        0
1700      เลย          353201-เลย จ.เลย      2  2022     29        -
1701      เลย          353201-เลย จ.เลย      2  2022     30        -
1702      เลย          353201-เลย จ.เลย      2  2022     31        -

[8523 rows x 6 columns]

## อุณหภูมิจุดน้ำค้าง

In [39]:
f1 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
f2 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
f3 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.สกล.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
f4 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
f5 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)

### เปลี่ยนชื่อคอลัมน์ ใส่ชื่อจังหวัด

In [40]:
f1.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
f1['จังหวัด'] = 'ขอนแก่น'

f2.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
f2['จังหวัด'] = 'นครพนม'

f3.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
      'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
f3['จังหวัด'] = 'สกลนคร'

f4.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
f4['จังหวัด'] = 'หนองคาย'

f5.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
f5['จังหวัด'] = 'เลย'

In [41]:
f1['ปี'] = f1['เดือน/ปี'].dt.year
f1['เดือน'] = f1['เดือน/ปี'].dt.month
f2['ปี'] = f2['เดือน/ปี'].dt.year
f2['เดือน'] = f2['เดือน/ปี'].dt.month
f3['ปี'] = f3['เดือน/ปี'].dt.year
f3['เดือน'] = f3['เดือน/ปี'].dt.month
f4['ปี'] = f4['เดือน/ปี'].dt.year
f4['เดือน'] = f4['เดือน/ปี'].dt.month
f5['ปี'] = f5['เดือน/ปี'].dt.year
f5['เดือน'] = f5['เดือน/ปี'].dt.month

In [42]:
f1=f1[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]
f2=f2[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]
f3=f3[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]       
f4=f4[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]
f5=f5[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]

In [43]:
f1=f1.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'อุณหภูมิจุดน้ำค้าง'})
f2=f2.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'อุณหภูมิจุดน้ำค้าง'})
f3=f3.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'อุณหภูมิจุดน้ำค้าง'})
f4=f4.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'อุณหภูมิจุดน้ำค้าง'})
f5=f5.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'อุณหภูมิจุดน้ำค้าง'})

In [44]:
f1

      จังหวัด                     สถานี  เดือน    ปี วันที่ อุณหภูมิจุดน้ำค้าง
0     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      1               24.2
1     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      2               24.0
2     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      3               22.9
3     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      4               21.9
4     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      5               21.7
...       ...                       ...    ...   ...    ...                ...
1700  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      2  2022     27               15.7
1701  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      2  2022     28               17.5
1702  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      2  2022     29                  -
1703  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      2  2022     30                  -
1704  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      2  2022     31                  -

[1705 rows x 6 columns]

In [45]:
ff = [f1,f2,f3,f4,f5]
all_f =pd.concat(ff)
all_f

      จังหวัด                     สถานี  เดือน    ปี วันที่ อุณหภูมิจุดน้ำค้าง
0     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      1               24.2
1     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      2               24.0
2     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      3               22.9
3     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      4               21.9
4     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      5               21.7
...       ...                       ...    ...   ...    ...                ...
1544      เลย          353201-เลย จ.เลย      2  2021     27               13.8
1545      เลย          353201-เลย จ.เลย      2  2021     28               15.2
1546      เลย          353201-เลย จ.เลย      2  2021     29                  -
1547      เลย          353201-เลย จ.เลย      2  2021     30                  -
1548      เลย          353201-เลย จ.เลย      2  2021     31                  -

[8369 rows x 6 columns]

## อุณหภูมิตุ้มแห้ง

In [46]:
d1 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
d2 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
d3 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.สกล.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
d4 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
d5 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)

### เปลี่ยนชื่อคอลัมน์ ใส่ชื่อจังหวัด

In [47]:
d1.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
d1['จังหวัด'] = 'ขอนแก่น'

d2.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
d2['จังหวัด'] = 'นครพนม'

d3.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
      'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
d3['จังหวัด'] = 'สกลนคร'

d4.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
d4['จังหวัด'] = 'หนองคาย'

d5.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
d5['จังหวัด'] = 'เลย'

In [48]:
d1['ปี'] = d1['เดือน/ปี'].dt.year
d1['เดือน'] = d1['เดือน/ปี'].dt.month
d2['ปี'] = d2['เดือน/ปี'].dt.year
d2['เดือน'] = d2['เดือน/ปี'].dt.month
d3['ปี'] = d3['เดือน/ปี'].dt.year
d3['เดือน'] = d3['เดือน/ปี'].dt.month
d4['ปี'] = d4['เดือน/ปี'].dt.year
d4['เดือน'] = d4['เดือน/ปี'].dt.month
d5['ปี'] = d5['เดือน/ปี'].dt.year
d5['เดือน'] = d5['เดือน/ปี'].dt.month

In [49]:
d1=d1[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]
d2=d2[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]
d3=d3[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]       
d4=d4[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]
d5=d5[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]

In [50]:
d1=d1.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'อุณหภูมิตุ้มแห้ง'})
d2=d2.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'อุณหภูมิตุ้มแห้ง'})
d3=d3.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'อุณหภูมิตุ้มแห้ง'})
d4=d4.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'อุณหภูมิตุ้มแห้ง'})
d5=d5.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'อุณหภูมิตุ้มแห้ง'})

In [51]:
d1

      จังหวัด                     สถานี  เดือน    ปี วันที่ อุณหภูมิตุ้มแห้ง
0     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      1             27.6
1     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      2             25.6
2     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      3             25.6
3     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      4             25.8
4     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      5             24.3
...       ...                       ...    ...   ...    ...              ...
1700  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      2  2022     27             25.1
1701  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      2  2022     28             25.9
1702  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      2  2022     29                -
1703  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      2  2022     30                -
1704  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      2  2022     31                -

[1705 rows x 6 columns]

In [52]:
dd = [d1,d2,d3,d4,d5]
all_d =pd.concat(dd)
all_d

      จังหวัด                     สถานี  เดือน    ปี วันที่ อุณหภูมิตุ้มแห้ง
0     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      1             27.6
1     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      2             25.6
2     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      3             25.6
3     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      4             25.8
4     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      5             24.3
...       ...                       ...    ...   ...    ...              ...
1545      เลย          353201-เลย จ.เลย      2  2021     27             25.2
1546      เลย          353201-เลย จ.เลย      2  2021     28             25.6
1547      เลย          353201-เลย จ.เลย      2  2021     29                -
1548      เลย          353201-เลย จ.เลย      2  2021     30                -
1549      เลย          353201-เลย จ.เลย      2  2021     31                -

[8370 rows x 6 columns]

## อุณหภูมิต่ำสุด

In [53]:
l1 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิต่ำสุด(เซลเซียส)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
l2 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิต่ำสุด(เซลเซียส)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
l3 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิต่ำสุด(เซลเซียส)/จ.สกล.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
l4 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิต่ำสุด(เซลเซียส)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
l5 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิต่ำสุด(เซลเซียส)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)

### เปลี่ยนชื่อคอลัมน์ ใส่ชื่อจังหวัด

In [54]:
l1.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
l1['จังหวัด'] = 'ขอนแก่น'

l2.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
l2['จังหวัด'] = 'นครพนม'

l3.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
      'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
l3['จังหวัด'] = 'สกลนคร'

l4.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
l4['จังหวัด'] = 'หนองคาย'

l5.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
l5['จังหวัด'] = 'เลย'

In [55]:
l1['ปี'] = l1['เดือน/ปี'].dt.year
l1['เดือน'] = l1['เดือน/ปี'].dt.month
l2['ปี'] = l2['เดือน/ปี'].dt.year
l2['เดือน'] = l2['เดือน/ปี'].dt.month
l3['ปี'] = l3['เดือน/ปี'].dt.year
l3['เดือน'] = l3['เดือน/ปี'].dt.month
l4['ปี'] = l4['เดือน/ปี'].dt.year
l4['เดือน'] = l4['เดือน/ปี'].dt.month
l5['ปี'] = l5['เดือน/ปี'].dt.year
l5['เดือน'] = l5['เดือน/ปี'].dt.month

In [56]:
l1=l1[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]
l2=l2[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]
l3=l3[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]       
l4=l4[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]
l5=l5[['สถานี', 'จังหวัด', 'ปี', 'เดือน', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']]

In [57]:
l1=l1.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'อุณหภูมิต่ำสุด'})
l2=l2.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'อุณหภูมิต่ำสุด'})
l3=l3.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'อุณหภูมิต่ำสุด'})
l4=l4.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'อุณหภูมิต่ำสุด'})
l5=l5.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index().rename(columns={'level_4':'วันที่',0:'อุณหภูมิต่ำสุด'})

In [58]:
l1

      จังหวัด                     สถานี  เดือน    ปี วันที่ อุณหภูมิต่ำสุด
0     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      1           24.8
1     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      2           23.0
2     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      3           22.1
3     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      4           22.8
4     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      5           23.1
...       ...                       ...    ...   ...    ...            ...
1700  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      2  2022     27           18.2
1701  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      2  2022     28              -
1702  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      2  2022     29              -
1703  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      2  2022     30              -
1704  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      2  2022     31              -

[1705 rows x 6 columns]

In [59]:
ll = [l1,l2,l3,l4,l5]
all_l =pd.concat(ll)
all_l

      จังหวัด                     สถานี  เดือน    ปี วันที่ อุณหภูมิต่ำสุด
0     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      1           24.8
1     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      2           23.0
2     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      3           22.1
3     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      4           22.8
4     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น     10  2011      5           23.1
...       ...                       ...    ...   ...    ...            ...
1700      เลย          353201-เลย จ.เลย      2  2022     27           15.0
1701      เลย          353201-เลย จ.เลย      2  2022     28           17.6
1702      เลย          353201-เลย จ.เลย      2  2022     29              -
1703      เลย          353201-เลย จ.เลย      2  2022     30              -
1704      เลย          353201-เลย จ.เลย      2  2022     31              -

[8525 rows x 6 columns]

# Table Merge

In [60]:
tm1 = all_p.merge(all_m,on=['วันที่', 'เดือน', 'ปี','จังหวัด',]).rename(columns={'สถานี_x':'สถานีความกด','สถานี_y':'สถานีความชื้นสัมพัทธ์'})

In [61]:
tm2 = tm1.merge(all_w,on=['วันที่', 'เดือน', 'ปี','จังหวัด',]).merge(all_c,on=['วันที่', 'เดือน', 'ปี','จังหวัด',]).rename(columns={'สถานี_x':'สถานีความเร็วลม', 'สถานี_y':'สถานีจำนวนเมฆ'})

In [62]:
tm3 = tm2.merge(all_r,on=['วันที่', 'เดือน', 'ปี','จังหวัด',]).merge(all_f,on=['วันที่', 'เดือน', 'ปี','จังหวัด',]).rename(columns={ 'สถานี_x':'สถานีปริมาณฝน','สถานี_y':'สถานีอุณหภูมิจุดน้ำค้าง'})

In [63]:
tm4 = tm3.merge(all_d,on=['วันที่', 'เดือน', 'ปี','จังหวัด',]).merge(all_l,on=['วันที่', 'เดือน', 'ปี','จังหวัด',]).rename(columns={ 'สถานี_x':'สถานีอุณหภูมิตุ้มแห้ง','สถานี_y':'สถานีอุณหภูมิต่ำสุด'})
tm4.head(3)

,จังหวัด,สถานีความกด,เดือน,ปี,วันที่,ความกด,สถานีความชื้นสัมพัทธ์,ความชื้นสัมพัทธ์,สถานีความเร็วลม,ความเร็วลม,สถานีจำนวนเมฆ,จำนวนเมฆ,สถานีปริมาณฝน,ปริมาณฝน,สถานีอุณหภูมิจุดน้ำค้าง,อุณหภูมิจุดน้ำค้าง,สถานีอุณหภูมิตุ้มแห้ง,อุณหภูมิตุ้มแห้ง,สถานีอุณหภูมิต่ำสุด,อุณหภูมิต่ำสุด
0,ขอนแก่น,352201-หนองคาย จ.หนองคาย,10,2011,1,1005.47,381201-ขอนแก่น จ.ขอนแก่น,83,353301-เลย สกษ. จ.เลย,3,353301-เลย สกษ. จ.เลย,9,381201-ขอนแก่น จ.ขอนแก่น,1.4,381201-ขอนแก่น จ.ขอนแก่น,24.2,381201-ขอนแก่น จ.ขอนแก่น,27.6,381201-ขอนแก่น จ.ขอนแก่น,24.8
1,ขอนแก่น,352201-หนองคาย จ.หนองคาย,10,2011,2,1006.65,381201-ขอนแก่น จ.ขอนแก่น,92,353301-เลย สกษ. จ.เลย,2,353301-เลย สกษ. จ.เลย,10,381201-ขอนแก่น จ.ขอนแก่น,17.7,381201-ขอนแก่น จ.ขอนแก่น,24.0,381201-ขอนแก่น จ.ขอนแก่น,25.6,381201-ขอนแก่น จ.ขอนแก่น,23.0
2,ขอนแก่น,352201-หนองคาย จ.หนองคาย,10,2011,3,1007.49,381201-ขอนแก่น จ.ขอนแก่น,86,353301-เลย สกษ. จ.เลย,3,353301-เลย สกษ. จ.เลย,10,381201-ขอนแก่น จ.ขอนแก่น,3,381201-ขอนแก่น จ.ขอนแก่น,22.9,381201-ขอนแก่น จ.ขอนแก่น,25.6,381201-ขอนแก่น จ.ขอนแก่น,22.1

- สร้างคอลัมม์ Date เพื่อรวมข้อมูลคอลัมม์ ปี+เดือน+วันที่

In [64]:
ymd = ['ปี','เดือน','วันที่']
tm4['Date'] = tm4[ymd].apply(lambda x: '/'.join(x.dropna().astype(str)),axis=1)
tm4.head(3)

,จังหวัด,สถานีความกด,เดือน,ปี,วันที่,ความกด,สถานีความชื้นสัมพัทธ์,ความชื้นสัมพัทธ์,สถานีความเร็วลม,ความเร็วลม,...,จำนวนเมฆ,สถานีปริมาณฝน,ปริมาณฝน,สถานีอุณหภูมิจุดน้ำค้าง,อุณหภูมิจุดน้ำค้าง,สถานีอุณหภูมิตุ้มแห้ง,อุณหภูมิตุ้มแห้ง,สถานีอุณหภูมิต่ำสุด,อุณหภูมิต่ำสุด,Date
0,ขอนแก่น,352201-หนองคาย จ.หนองคาย,10,2011,1,1005.47,381201-ขอนแก่น จ.ขอนแก่น,83,353301-เลย สกษ. จ.เลย,3,...,9,381201-ขอนแก่น จ.ขอนแก่น,1.4,381201-ขอนแก่น จ.ขอนแก่น,24.2,381201-ขอนแก่น จ.ขอนแก่น,27.6,381201-ขอนแก่น จ.ขอนแก่น,24.8,2011/10/1
1,ขอนแก่น,352201-หนองคาย จ.หนองคาย,10,2011,2,1006.65,381201-ขอนแก่น จ.ขอนแก่น,92,353301-เลย สกษ. จ.เลย,2,...,10,381201-ขอนแก่น จ.ขอนแก่น,17.7,381201-ขอนแก่น จ.ขอนแก่น,24.0,381201-ขอนแก่น จ.ขอนแก่น,25.6,381201-ขอนแก่น จ.ขอนแก่น,23.0,2011/10/2
2,ขอนแก่น,352201-หนองคาย จ.หนองคาย,10,2011,3,1007.49,381201-ขอนแก่น จ.ขอนแก่น,86,353301-เลย สกษ. จ.เลย,3,...,10,381201-ขอนแก่น จ.ขอนแก่น,3,381201-ขอนแก่น จ.ขอนแก่น,22.9,381201-ขอนแก่น จ.ขอนแก่น,25.6,381201-ขอนแก่น จ.ขอนแก่น,22.1,2011/10/3

- หาข้อมูลวันเดือนปี ที่ไม่มีในปฏิทิน(คอลัมม์ Date) แล้ว drop ออก

In [65]:
tm4['Date'] = pd.to_datetime(tm4['Date'], errors='coerce') #หา Date ที่ไม่มีในปฏิทิน
tm4 = tm4.dropna(subset=['Date']) #drop 
tm4

,จังหวัด,สถานีความกด,เดือน,ปี,วันที่,ความกด,สถานีความชื้นสัมพัทธ์,ความชื้นสัมพัทธ์,สถานีความเร็วลม,ความเร็วลม,...,จำนวนเมฆ,สถานีปริมาณฝน,ปริมาณฝน,สถานีอุณหภูมิจุดน้ำค้าง,อุณหภูมิจุดน้ำค้าง,สถานีอุณหภูมิตุ้มแห้ง,อุณหภูมิตุ้มแห้ง,สถานีอุณหภูมิต่ำสุด,อุณหภูมิต่ำสุด,Date
0,ขอนแก่น,352201-หนองคาย จ.หนองคาย,10,2011,1,1005.47,381201-ขอนแก่น จ.ขอนแก่น,83,353301-เลย สกษ. จ.เลย,3,...,9,381201-ขอนแก่น จ.ขอนแก่น,1.4,381201-ขอนแก่น จ.ขอนแก่น,24.2,381201-ขอนแก่น จ.ขอนแก่น,27.6,381201-ขอนแก่น จ.ขอนแก่น,24.8,2011-10-01
1,ขอนแก่น,352201-หนองคาย จ.หนองคาย,10,2011,2,1006.65,381201-ขอนแก่น จ.ขอนแก่น,92,353301-เลย สกษ. จ.เลย,2,...,10,381201-ขอนแก่น จ.ขอนแก่น,17.7,381201-ขอนแก่น จ.ขอนแก่น,24.0,381201-ขอนแก่น จ.ขอนแก่น,25.6,381201-ขอนแก่น จ.ขอนแก่น,23.0,2011-10-02
2,ขอนแก่น,352201-หนองคาย จ.หนองคาย,10,2011,3,1007.49,381201-ขอนแก่น จ.ขอนแก่น,86,353301-เลย สกษ. จ.เลย,3,...,10,381201-ขอนแก่น จ.ขอนแก่น,3,381201-ขอนแก่น จ.ขอนแก่น,22.9,381201-ขอนแก่น จ.ขอนแก่น,25.6,381201-ขอนแก่น จ.ขอนแก่น,22.1,2011-10-03
3,ขอนแก่น,352201-หนองคาย จ.หนองคาย,10,2011,4,1008.28,381201-ขอนแก่น จ.ขอนแก่น,80,353301-เลย สกษ. จ.เลย,2,...,8,381201-ขอนแก่น จ.ขอนแก่น,0,381201-ขอนแก่น จ.ขอนแก่น,21.9,381201-ขอนแก่น จ.ขอนแก่น,25.8,381201-ขอนแก่น จ.ขอนแก่น,22.8,2011-10-04
4,ขอนแก่น,352201-หนองคาย จ.หนองคาย,10,2011,5,1009.88,381201-ขอนแก่น จ.ขอนแก่น,86,353301-เลย สกษ. จ.เลย,2,...,10,381201-ขอนแก่น จ.ขอนแก่น,2.2,381201-ขอนแก่น จ.ขอนแก่น,21.7,381201-ขอนแก่น จ.ขอนแก่น,24.3,381201-ขอนแก่น จ.ขอนแก่น,23.1,2011-10-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8356,เลย,352201-หนองคาย จ.หนองคาย,2,2021,24,1008.39,353301-เลย สกษ. จ.เลย,69,353301-เลย สกษ. จ.เลย,69,...,0,353201-เลย จ.เลย,0,353201-เลย จ.เลย,18.4,353201-เลย จ.เลย,26.8,353201-เลย จ.เลย,18.0,2021-02-24
8357,เลย,352201-หนองคาย จ.หนองคาย,2,2021,25,1006.05,353301-เลย สกษ. จ.เลย,61,353301-เลย สกษ. จ.เลย,61,...,0,353201-เลย จ.เลย,0,353201-เลย จ.เลย,17.3,353201-เลย จ.เลย,27.8,353201-เลย จ.เลย,19.5,2021-02-25
8358,เลย,352201-หนองคาย จ.หนองคาย,2,2021,26,1004.86,353301-เลย สกษ. จ.เลย,55,353301-เลย สกษ. จ.เลย,55,...,0,353201-เลย จ.เลย,0,353201-เลย จ.เลย,13.0,353201-เลย จ.เลย,26.3,353201-เลย จ.เลย,16.0,2021-02-26
8359,เลย,352201-หนองคาย จ.หนองคาย,2,2021,27,1005.76,353301-เลย สกษ. จ.เลย,56,353301-เลย สกษ. จ.เลย,56,...,2,353201-เลย จ.เลย,0,353201-เลย จ.เลย,13.8,353201-เลย จ.เลย,25.2,353201-เลย จ.เลย,15.3,2021-02-27
8360,เลย,352201-หนองคาย จ.หนองคาย,2,2021,28,1008.21,353301-เลย สกษ. จ.เลย,58,353301-เลย สกษ. จ.เลย,58,...,1,353201-เลย จ.เลย,0,353201-เลย จ.เลย,15.2,353201-เลย จ.เลย,25.6,353201-เลย จ.เลย,16,2021-02-28

In [66]:
tm4.columns

Index(['จังหวัด', 'สถานีความกด', 'เดือน', 'ปี', 'วันที่', 'ความกด',
       'สถานีความชื้นสัมพัทธ์', 'ความชื้นสัมพัทธ์', 'สถานีความเร็วลม',
       'ความเร็วลม', 'สถานีจำนวนเมฆ', 'จำนวนเมฆ', 'สถานีปริมาณฝน', 'ปริมาณฝน',
       'สถานีอุณหภูมิจุดน้ำค้าง', 'อุณหภูมิจุดน้ำค้าง',
       'สถานีอุณหภูมิตุ้มแห้ง', 'อุณหภูมิตุ้มแห้ง', 'สถานีอุณหภูมิต่ำสุด',
       'อุณหภูมิต่ำสุด', 'Date'],
      dtype='object')

# Final

In [68]:
table_final = tm4[['จังหวัด', 'วันที่', 'เดือน', 'ปี','สถานีความกด','ความกด','ความชื้นสัมพัทธ์', 'อุณหภูมิตุ้มแห้ง','อุณหภูมิจุดน้ำค้าง',
       'อุณหภูมิต่ำสุด', 'จำนวนเมฆ', 'ปริมาณฝน','ความเร็วลม']]
table_final

,จังหวัด,วันที่,เดือน,ปี,สถานีความกด,ความกด,ความชื้นสัมพัทธ์,อุณหภูมิตุ้มแห้ง,อุณหภูมิจุดน้ำค้าง,อุณหภูมิต่ำสุด,จำนวนเมฆ,ปริมาณฝน,ความเร็วลม
0,ขอนแก่น,1,10,2011,352201-หนองคาย จ.หนองคาย,1005.47,83,27.6,24.2,24.8,9,1.4,3
1,ขอนแก่น,2,10,2011,352201-หนองคาย จ.หนองคาย,1006.65,92,25.6,24.0,23.0,10,17.7,2
2,ขอนแก่น,3,10,2011,352201-หนองคาย จ.หนองคาย,1007.49,86,25.6,22.9,22.1,10,3,3
3,ขอนแก่น,4,10,2011,352201-หนองคาย จ.หนองคาย,1008.28,80,25.8,21.9,22.8,8,0,2
4,ขอนแก่น,5,10,2011,352201-หนองคาย จ.หนองคาย,1009.88,86,24.3,21.7,23.1,10,2.2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8356,เลย,24,2,2021,352201-หนองคาย จ.หนองคาย,1008.39,69,26.8,18.4,18.0,0,0,69
8357,เลย,25,2,2021,352201-หนองคาย จ.หนองคาย,1006.05,61,27.8,17.3,19.5,0,0,61
8358,เลย,26,2,2021,352201-หนองคาย จ.หนองคาย,1004.86,55,26.3,13.0,16.0,0,0,55
8359,เลย,27,2,2021,352201-หนองคาย จ.หนองคาย,1005.76,56,25.2,13.8,15.3,2,0,56
8360,เลย,28,2,2021,352201-หนองคาย จ.หนองคาย,1008.21,58,25.6,15.2,16,1,0,58

In [69]:
table_final.rename(columns = {'สถานีความกด':'สถานี'})

,จังหวัด,วันที่,เดือน,ปี,สถานี,ความกด,ความชื้นสัมพัทธ์,อุณหภูมิตุ้มแห้ง,อุณหภูมิจุดน้ำค้าง,อุณหภูมิต่ำสุด,จำนวนเมฆ,ปริมาณฝน,ความเร็วลม
0,ขอนแก่น,1,10,2011,352201-หนองคาย จ.หนองคาย,1005.47,83,27.6,24.2,24.8,9,1.4,3
1,ขอนแก่น,2,10,2011,352201-หนองคาย จ.หนองคาย,1006.65,92,25.6,24.0,23.0,10,17.7,2
2,ขอนแก่น,3,10,2011,352201-หนองคาย จ.หนองคาย,1007.49,86,25.6,22.9,22.1,10,3,3
3,ขอนแก่น,4,10,2011,352201-หนองคาย จ.หนองคาย,1008.28,80,25.8,21.9,22.8,8,0,2
4,ขอนแก่น,5,10,2011,352201-หนองคาย จ.หนองคาย,1009.88,86,24.3,21.7,23.1,10,2.2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8356,เลย,24,2,2021,352201-หนองคาย จ.หนองคาย,1008.39,69,26.8,18.4,18.0,0,0,69
8357,เลย,25,2,2021,352201-หนองคาย จ.หนองคาย,1006.05,61,27.8,17.3,19.5,0,0,61
8358,เลย,26,2,2021,352201-หนองคาย จ.หนองคาย,1004.86,55,26.3,13.0,16.0,0,0,55
8359,เลย,27,2,2021,352201-หนองคาย จ.หนองคาย,1005.76,56,25.2,13.8,15.3,2,0,56
8360,เลย,28,2,2021,352201-หนองคาย จ.หนองคาย,1008.21,58,25.6,15.2,16,1,0,58