<a href="https://colab.research.google.com/github/nxxk23/bsc_dpdm22/blob/main/Quiz_Group_5_20_of_Midterm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

เตรียมข้อมูลของกรม อุตุ() ให้อยู่ในรูปแบบ ตารางด้านล่าง เพื่อเตรียมข้อมูลสำหรับสร้าง Model ทำนาย อุณหภูมิต่ำสุดของวันจากค่าอื่นๆ

![image.png]()

column เดือน-ปี สามารถยุบรวมเป็น 1 column ได้

In [1]:
#เชื่อม google drive 
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#pressure

In [2]:
import pandas as pd
p1 = pd.read_excel('/content/drive/MyDrive/DPDM/ความกด(เปอร์เซ็นต์)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
p2 = pd.read_excel('/content/drive/MyDrive/DPDM/ความกด(เปอร์เซ็นต์)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
p3 = pd.read_excel('/content/drive/MyDrive/DPDM/ความกด(เปอร์เซ็นต์)/จ.สกลนคร.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
p4 = pd.read_excel('/content/drive/MyDrive/DPDM/ความกด(เปอร์เซ็นต์)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
p5 = pd.read_excel('/content/drive/MyDrive/DPDM/ความกด(เปอร์เซ็นต์)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)

###Rename Columns

In [3]:
p1.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
p1['จังหวัด'] = 'ขอนแก่น'
p2.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
p2['จังหวัด'] = 'นครพนม'
p3.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
p3['จังหวัด'] = 'สกลนคร'
p4.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
p4['จังหวัด'] = 'หนองคาย'
p5.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
p5['จังหวัด'] = 'เลย'

In [4]:
p1.head()

,ที่,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,24,25,26,27,28,29,30,31,เฉลี่ย,จังหวัด
1,1,352201-หนองคาย จ.หนองคาย,2011-10-01,1005.47,1006.65,1007.49,1008.28,1009.88,1011.36,1011.17,...,1010.23,1011.34,1011.84,1011.89,1012.29,1011.67,1011.3,1011.52,1010.350645,ขอนแก่น
2,2,352201-หนองคาย จ.หนองคาย,2011-11-01,1011.79,1010.83,1010.74,1010.71,1010.09,1009.24,1008.03,...,1015.40,1013.95,1012.35,1011.31,1009.59,1010.13,1010.47,-,1011.717000,ขอนแก่น
3,3,352201-หนองคาย จ.หนองคาย,2011-12-01,1011.43,1012.57,1012.28,1012.97,1013.09,1012.03,1012.05,...,1015.78,1018.56,1018.65,1016.88,1016.05,1014.98,1015.53,1016.4,1016.470000,ขอนแก่น
4,1,352201-หนองคาย จ.หนองคาย,2012-01-01,1015.67,1014.11,1012.91,1014.06,1015.51,1015.88,1017.72,...,1011.27,1011.65,1012.56,1010.76,1010.26,1010.69,1012.34,1014.52,1012.484516,ขอนแก่น
5,2,352201-หนองคาย จ.หนองคาย,2012-02-01,1013.26,1012.92,1013.61,1013.18,1011.26,1008.80,1008.16,...,1005.46,1004.80,1005.08,1006.57,1005.96,1006.53,1010.47,-,1009.749667,ขอนแก่น

In [5]:
p1.columns

Index(['ที่', 'สถานี', 'เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9',
       '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21',
       '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', 'เฉลี่ย',
       'จังหวัด'],
      dtype='object')

In [6]:
p1 = p1[['จังหวัด','สถานี','เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31']]

In [7]:
p2 = p2[['จังหวัด','สถานี','เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31']]
p3 = p3[['จังหวัด','สถานี','เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31']]
p4 = p4[['จังหวัด','สถานี','เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31']]
p5 = p5[['จังหวัด','สถานี','เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31']]

##สร้างตาราง

```
#แยกตามจังหวัดและตามหัวข้อ
```

###ขอนแก่น

In [8]:
p1.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
p11 = p1.stack().reset_index()
p11.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
p11['เดือน/ปี'] = pd.to_datetime(p11['เดือน/ปี']).dt.strftime('%m-%Y')
p11['เดือน'] = pd.to_datetime(p11['เดือน/ปี']).dt.strftime('%m')
p11['ปี'] = pd.to_datetime(p11['เดือน/ปี']).dt.strftime('%Y')
p11 = p11[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'ความกด']]
p11

      จังหวัด                     สถานี วัน เดือน    ปี   ความกด
0     ขอนแก่น  352201-หนองคาย จ.หนองคาย   1    10  2011  1005.47
1     ขอนแก่น  352201-หนองคาย จ.หนองคาย   2    10  2011  1006.65
2     ขอนแก่น  352201-หนองคาย จ.หนองคาย   3    10  2011  1007.49
3     ขอนแก่น  352201-หนองคาย จ.หนองคาย   4    10  2011  1008.28
4     ขอนแก่น  352201-หนองคาย จ.หนองคาย   5    10  2011  1009.88
...       ...                       ...  ..   ...   ...      ...
1700  ขอนแก่น  352201-หนองคาย จ.หนองคาย  27    02  2022  1014.37
1701  ขอนแก่น  352201-หนองคาย จ.หนองคาย  28    02  2022  1013.04
1702  ขอนแก่น  352201-หนองคาย จ.หนองคาย  29    02  2022  1013.37
1703  ขอนแก่น  352201-หนองคาย จ.หนองคาย  30    02  2022  1013.98
1704  ขอนแก่น  352201-หนองคาย จ.หนองคาย  31    02  2022        -

[1705 rows x 6 columns]

###นครพนม

In [9]:
p2.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
p22 = p2.stack().reset_index()
p22.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
p22['เดือน/ปี'] = pd.to_datetime(p22['เดือน/ปี']).dt.strftime('%m-%Y')
p22['เดือน'] = pd.to_datetime(p22['เดือน/ปี']).dt.strftime('%m')
p22['ปี'] = pd.to_datetime(p22['เดือน/ปี']).dt.strftime('%Y')
p22 = p22[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'ความกด']]
p22

     จังหวัด                     สถานี วัน เดือน    ปี   ความกด
0     นครพนม  352201-หนองคาย จ.หนองคาย   1    10  2011   1006.3
1     นครพนม  352201-หนองคาย จ.หนองคาย   2    10  2011  1007.38
2     นครพนม  352201-หนองคาย จ.หนองคาย   3    10  2011  1008.07
3     นครพนม  352201-หนองคาย จ.หนองคาย   4    10  2011  1008.44
4     นครพนม  352201-หนองคาย จ.หนองคาย   5    10  2011  1010.51
...      ...                       ...  ..   ...   ...      ...
1700  นครพนม  352201-หนองคาย จ.หนองคาย  27    02  2022  1016.43
1701  นครพนม  352201-หนองคาย จ.หนองคาย  28    02  2022  1013.53
1702  นครพนม  352201-หนองคาย จ.หนองคาย  29    02  2022  1013.37
1703  นครพนม  352201-หนองคาย จ.หนองคาย  30    02  2022  1013.98
1704  นครพนม  352201-หนองคาย จ.หนองคาย  31    02  2022        -

[1705 rows x 6 columns]

###สกลนคร

In [10]:
p3.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
p33 = p3.stack().reset_index()
p33.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
p33['เดือน/ปี'] = pd.to_datetime(p33['เดือน/ปี']).dt.strftime('%m-%Y')
p33['เดือน'] = pd.to_datetime(p33['เดือน/ปี']).dt.strftime('%m')
p33['ปี'] = pd.to_datetime(p33['เดือน/ปี']).dt.strftime('%Y')
p33 = p33[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'ความกด']]
p33

     จังหวัด                     สถานี วัน เดือน    ปี   ความกด
0     สกลนคร  352201-หนองคาย จ.หนองคาย   1    10  2011  1005.84
1     สกลนคร  352201-หนองคาย จ.หนองคาย   2    10  2011  1007.16
2     สกลนคร  352201-หนองคาย จ.หนองคาย   3    10  2011  1007.87
3     สกลนคร  352201-หนองคาย จ.หนองคาย   4    10  2011  1008.56
4     สกลนคร  352201-หนองคาย จ.หนองคาย   5    10  2011  1010.55
...      ...                       ...  ..   ...   ...      ...
1700  สกลนคร  352201-หนองคาย จ.หนองคาย  27    02  2022  1014.95
1701  สกลนคร  352201-หนองคาย จ.หนองคาย  28    02  2022  1012.89
1702  สกลนคร  352201-หนองคาย จ.หนองคาย  29    02  2022  1013.37
1703  สกลนคร  352201-หนองคาย จ.หนองคาย  30    02  2022  1013.98
1704  สกลนคร  352201-หนองคาย จ.หนองคาย  31    02  2022        -

[1705 rows x 6 columns]

###หนองคาย

In [11]:
p4.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
p44 = p4.stack().reset_index()
p44.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
p44['เดือน/ปี'] = pd.to_datetime(p44['เดือน/ปี']).dt.strftime('%m-%Y')
p44['เดือน'] = pd.to_datetime(p44['เดือน/ปี']).dt.strftime('%m')
p44['ปี'] = pd.to_datetime(p44['เดือน/ปี']).dt.strftime('%Y')
p44 = p44[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'ความกด']]
p44

      จังหวัด                     สถานี วัน เดือน    ปี   ความกด
0     หนองคาย  352201-หนองคาย จ.หนองคาย   1    10  2011  1005.34
1     หนองคาย  352201-หนองคาย จ.หนองคาย   2    10  2011  1006.67
2     หนองคาย  352201-หนองคาย จ.หนองคาย   3    10  2011  1007.39
3     หนองคาย  352201-หนองคาย จ.หนองคาย   4    10  2011  1008.11
4     หนองคาย  352201-หนองคาย จ.หนองคาย   5    10  2011  1009.69
...       ...                       ...  ..   ...   ...      ...
1700  หนองคาย  352201-หนองคาย จ.หนองคาย  27    02  2022  1015.31
1701  หนองคาย  352201-หนองคาย จ.หนองคาย  28    02  2022  1013.06
1702  หนองคาย  352201-หนองคาย จ.หนองคาย  29    02  2022        -
1703  หนองคาย  352201-หนองคาย จ.หนองคาย  30    02  2022        -
1704  หนองคาย  352201-หนองคาย จ.หนองคาย  31    02  2022        -

[1705 rows x 6 columns]

###เลย

In [12]:
p5.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
p55 = p5.stack().reset_index()
p55.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
p55['เดือน/ปี'] = pd.to_datetime(p55['เดือน/ปี']).dt.strftime('%m-%Y')
p55['เดือน'] = pd.to_datetime(p55['เดือน/ปี']).dt.strftime('%m')
p55['ปี'] = pd.to_datetime(p55['เดือน/ปี']).dt.strftime('%Y')
p55 = p55[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'ความกด']]
p55

     จังหวัด                     สถานี วัน เดือน    ปี   ความกด
0        เลย  352201-หนองคาย จ.หนองคาย   1    10  2011  1005.12
1        เลย  352201-หนองคาย จ.หนองคาย   2    10  2011  1006.51
2        เลย  352201-หนองคาย จ.หนองคาย   3    10  2011  1007.81
3        เลย  352201-หนองคาย จ.หนองคาย   4    10  2011  1008.15
4        เลย  352201-หนองคาย จ.หนองคาย   5    10  2011  1009.21
...      ...                       ...  ..   ...   ...      ...
1700     เลย  352201-หนองคาย จ.หนองคาย  27    02  2022  1014.97
1701     เลย  352201-หนองคาย จ.หนองคาย  28    02  2022  1012.88
1702     เลย  352201-หนองคาย จ.หนองคาย  29    02  2022        -
1703     เลย  352201-หนองคาย จ.หนองคาย  30    02  2022        -
1704     เลย  352201-หนองคาย จ.หนองคาย  31    02  2022        -

[1705 rows x 6 columns]

##ความกดทั้งหมดทุกจังหวัด

In [13]:
pressure = pd.concat([p11,p22,p33,p44,p55])
pressure

      จังหวัด                     สถานี วัน เดือน    ปี   ความกด
0     ขอนแก่น  352201-หนองคาย จ.หนองคาย   1    10  2011  1005.47
1     ขอนแก่น  352201-หนองคาย จ.หนองคาย   2    10  2011  1006.65
2     ขอนแก่น  352201-หนองคาย จ.หนองคาย   3    10  2011  1007.49
3     ขอนแก่น  352201-หนองคาย จ.หนองคาย   4    10  2011  1008.28
4     ขอนแก่น  352201-หนองคาย จ.หนองคาย   5    10  2011  1009.88
...       ...                       ...  ..   ...   ...      ...
1700      เลย  352201-หนองคาย จ.หนองคาย  27    02  2022  1014.97
1701      เลย  352201-หนองคาย จ.หนองคาย  28    02  2022  1012.88
1702      เลย  352201-หนองคาย จ.หนองคาย  29    02  2022        -
1703      เลย  352201-หนองคาย จ.หนองคาย  30    02  2022        -
1704      เลย  352201-หนองคาย จ.หนองคาย  31    02  2022        -

[8525 rows x 6 columns]

#moisture

In [14]:
import pandas as pd
m1 = pd.read_excel('/content/drive/MyDrive/DPDM/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
m2 = pd.read_excel('/content/drive/MyDrive/DPDM/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
m3 = pd.read_excel('/content/drive/MyDrive/DPDM/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.สกลนคร.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
m4 = pd.read_excel('/content/drive/MyDrive/DPDM/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
m5 = pd.read_excel('/content/drive/MyDrive/DPDM/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)

#Rename

In [15]:
m1.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
m1['จังหวัด'] = 'ขอนแก่น'
m2.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
m2['จังหวัด'] = 'นครพนม'
m3.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
m3['จังหวัด'] = 'สกลนคร'
m4.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
m4['จังหวัด'] = 'หนองคาย'
m5.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
m5['จังหวัด'] = 'เลย'

##Select column

In [16]:
m1 = m1[['จังหวัด','สถานี','เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31']]
m2 = m2[['จังหวัด','สถานี','เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31']]
m3 = m3[['จังหวัด','สถานี','เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31']]
m4 = m4[['จังหวัด','สถานี','เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31']]
m5 = m5[['จังหวัด','สถานี','เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31']]

##สร้างตาราง

```
#แยกตามจังหวัดและตามหัวข้อ
```

####ขอนแก่น

In [17]:
m1.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
m11 = m1.stack().reset_index()
m11.rename(columns = {'level_3':'วัน',0:'ความชื้น'}, inplace = True)
m11['เดือน/ปี'] = pd.to_datetime(m11['เดือน/ปี']).dt.strftime('%m-%Y')
m11['เดือน'] = pd.to_datetime(m11['เดือน/ปี']).dt.strftime('%m')
m11['ปี'] = pd.to_datetime(m11['เดือน/ปี']).dt.strftime('%Y')
m11.shape
m11 = m11[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'ความชื้น']]

####นครพนม

In [18]:
m2.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
m22 = m2.stack().reset_index()
m22.rename(columns = {'level_3':'วัน',0:'ความชื้น'}, inplace = True)
m22['เดือน/ปี'] = pd.to_datetime(m22['เดือน/ปี']).dt.strftime('%m-%Y')
m22['เดือน'] = pd.to_datetime(m22['เดือน/ปี']).dt.strftime('%m')
m22['ปี'] = pd.to_datetime(m22['เดือน/ปี']).dt.strftime('%Y')
m22 = m22[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'ความชื้น']]
m22

     จังหวัด                   สถานี วัน เดือน    ปี ความชื้น
0     นครพนม  357201-นครพนม จ.นครพนม   1    10  2011       95
1     นครพนม  357201-นครพนม จ.นครพนม   2    10  2011       84
2     นครพนม  357201-นครพนม จ.นครพนม   3    10  2011       74
3     นครพนม  357201-นครพนม จ.นครพนม   4    10  2011       72
4     นครพนม  357201-นครพนม จ.นครพนม   5    10  2011       87
...      ...                     ...  ..   ...   ...      ...
1700  นครพนม  357201-นครพนม จ.นครพนม  27    02  2022       52
1701  นครพนม  357201-นครพนม จ.นครพนม  28    02  2022       60
1702  นครพนม  357201-นครพนม จ.นครพนม  29    02  2022        -
1703  นครพนม  357201-นครพนม จ.นครพนม  30    02  2022        -
1704  นครพนม  357201-นครพนม จ.นครพนม  31    02  2022        -

[1705 rows x 6 columns]

####สกลนคร

In [19]:
m3.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
m33 = m3.stack().reset_index()
m33.rename(columns = {'level_3':'วัน',0:'ความชื้น'}, inplace = True)
m33['เดือน/ปี'] = pd.to_datetime(m33['เดือน/ปี']).dt.strftime('%m-%Y')
m33['เดือน'] = pd.to_datetime(m33['เดือน/ปี']).dt.strftime('%m')
m33['ปี'] = pd.to_datetime(m33['เดือน/ปี']).dt.strftime('%Y')
m33 = m33[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'ความชื้น']]
m33

     จังหวัด                   สถานี วัน เดือน    ปี ความชื้น
0     สกลนคร  356201-สกลนคร จ.สกลนคร   1    10  2011       87
1     สกลนคร  356201-สกลนคร จ.สกลนคร   2    10  2011       88
2     สกลนคร  356201-สกลนคร จ.สกลนคร   3    10  2011       77
3     สกลนคร  356201-สกลนคร จ.สกลนคร   4    10  2011       75
4     สกลนคร  356201-สกลนคร จ.สกลนคร   5    10  2011       87
...      ...                     ...  ..   ...   ...      ...
1700  สกลนคร  356201-สกลนคร จ.สกลนคร  27    02  2022       65
1701  สกลนคร  356201-สกลนคร จ.สกลนคร  28    02  2022       68
1702  สกลนคร  356201-สกลนคร จ.สกลนคร  29    02  2022        -
1703  สกลนคร  356201-สกลนคร จ.สกลนคร  30    02  2022        -
1704  สกลนคร  356201-สกลนคร จ.สกลนคร  31    02  2022        -

[1705 rows x 6 columns]

####หนองคาย

In [20]:
m4.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
m44 = m4.stack().reset_index()
m44.rename(columns = {'level_3':'วัน',0:'ความชื้น'}, inplace = True)
m44['เดือน/ปี'] = pd.to_datetime(m44['เดือน/ปี']).dt.strftime('%m-%Y')
m44['เดือน'] = pd.to_datetime(m44['เดือน/ปี']).dt.strftime('%m')
m44['ปี'] = pd.to_datetime(m44['เดือน/ปี']).dt.strftime('%Y')
m44 = m44[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'ความชื้น']]
m44

      จังหวัด                     สถานี วัน เดือน    ปี ความชื้น
0     หนองคาย  352201-หนองคาย จ.หนองคาย   1    10  2011       89
1     หนองคาย  352201-หนองคาย จ.หนองคาย   2    10  2011       91
2     หนองคาย  352201-หนองคาย จ.หนองคาย   3    10  2011       78
3     หนองคาย  352201-หนองคาย จ.หนองคาย   4    10  2011       75
4     หนองคาย  352201-หนองคาย จ.หนองคาย   5    10  2011       90
...       ...                       ...  ..   ...   ...      ...
1700  หนองคาย  352201-หนองคาย จ.หนองคาย  27    02  2022       62
1701  หนองคาย  352201-หนองคาย จ.หนองคาย  28    02  2022       65
1702  หนองคาย  352201-หนองคาย จ.หนองคาย  29    02  2022        -
1703  หนองคาย  352201-หนองคาย จ.หนองคาย  30    02  2022        -
1704  หนองคาย  352201-หนองคาย จ.หนองคาย  31    02  2022        -

[1705 rows x 6 columns]

####เลย

In [21]:
m5.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
m55 = m5.stack().reset_index()
m55.rename(columns = {'level_3':'วัน',0:'ความชื้น'}, inplace = True)
m55['เดือน/ปี'] = pd.to_datetime(m55['เดือน/ปี']).dt.strftime('%m-%Y')
m55['เดือน'] = pd.to_datetime(m55['เดือน/ปี']).dt.strftime('%m')
m55['ปี'] = pd.to_datetime(m55['เดือน/ปี']).dt.strftime('%Y')
m55 = m55[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'ความชื้น']]
m55

     จังหวัด                  สถานี วัน เดือน    ปี ความชื้น
0        เลย  353301-เลย สกษ. จ.เลย   1    10  2011       90
1        เลย  353301-เลย สกษ. จ.เลย   2    10  2011       95
2        เลย  353301-เลย สกษ. จ.เลย   3    10  2011       92
3        เลย  353301-เลย สกษ. จ.เลย   4    10  2011       89
4        เลย  353301-เลย สกษ. จ.เลย   5    10  2011       86
...      ...                    ...  ..   ...   ...      ...
1700     เลย  353301-เลย สกษ. จ.เลย  27    02  2022       74
1701     เลย  353301-เลย สกษ. จ.เลย  28    02  2022       72
1702     เลย  353301-เลย สกษ. จ.เลย  29    02  2022        -
1703     เลย  353301-เลย สกษ. จ.เลย  30    02  2022        -
1704     เลย  353301-เลย สกษ. จ.เลย  31    02  2022        -

[1705 rows x 6 columns]

##ความชื้นทั้งหมดทุกจังหวัด

In [22]:
moisture = pd.concat([m11,m22,m33,m44,m55])
moisture

      จังหวัด                     สถานี วัน เดือน    ปี ความชื้น
0     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   1    10  2011       83
1     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   2    10  2011       92
2     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   3    10  2011       86
3     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   4    10  2011       80
4     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   5    10  2011       86
...       ...                       ...  ..   ...   ...      ...
1700      เลย     353301-เลย สกษ. จ.เลย  27    02  2022       74
1701      เลย     353301-เลย สกษ. จ.เลย  28    02  2022       72
1702      เลย     353301-เลย สกษ. จ.เลย  29    02  2022        -
1703      เลย     353301-เลย สกษ. จ.เลย  30    02  2022        -
1704      เลย     353301-เลย สกษ. จ.เลย  31    02  2022        -

[8525 rows x 6 columns]

#wind speed

In [59]:
import pandas as pd
w1 = pd.read_excel('/content/drive/MyDrive/DPDM/ความเร็วลม(นอต)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=4).drop(0, axis=0)
w2 = pd.read_excel('/content/drive/MyDrive/DPDM/ความเร็วลม(นอต)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=4).drop(0, axis=0)
w3 = pd.read_excel('/content/drive/MyDrive/DPDM/ความเร็วลม(นอต)/จ.สกลนคร.xlsx',sheet_name='Sheet1',skiprows=4).drop(0, axis=0)
w4 = pd.read_excel('/content/drive/MyDrive/DPDM/ความเร็วลม(นอต)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=4).drop(0, axis=0)
w5 = pd.read_excel('/content/drive/MyDrive/DPDM/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=4).drop(0, axis=0)

##Rename Columns

In [60]:
w1.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
w1['จังหวัด'] = 'ขอนแก่น'
w2.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
w2['จังหวัด'] = 'นครพนม'
w3.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
w3['จังหวัด'] = 'สกลนคร'
w4.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
w4['จังหวัด'] = 'หนองคาย'
w5.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
        'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
w5['จังหวัด'] = 'เลย'

In [61]:
w1.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
w2.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
w3.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
w4.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
w5.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)

##สร้างตาราง

```
#แยกตามจังหวัดและตามหัวข้อ
```

####ขอนแก่น

In [62]:
w1.drop(['ที่','เฉลี่ย'],axis=1)
w1.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
w11 = w1.stack().reset_index()
w11.rename(columns = {'level_3':'วัน',0:'ความเร็วลม'}, inplace = True)
w11['เดือน/ปี'] = pd.to_datetime(w11['เดือน/ปี']).dt.strftime('%m-%Y')
w11['เดือน'] = pd.to_datetime(w11['เดือน/ปี']).dt.strftime('%m')
w11['ปี'] = pd.to_datetime(w11['เดือน/ปี']).dt.strftime('%Y')
w11.shape
w11 = w11[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'ความเร็วลม']]

####นครพนม

In [63]:
w2.drop(['ที่','เฉลี่ย'],axis=1)
w2.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
w22 = w2.stack().reset_index()
w22.rename(columns = {'level_3':'วัน',0:'ความเร็วลม'}, inplace = True)
w22['เดือน/ปี'] = pd.to_datetime(w22['เดือน/ปี']).dt.strftime('%m-%Y')
w22['เดือน'] = pd.to_datetime(w22['เดือน/ปี']).dt.strftime('%m')
w22['ปี'] = pd.to_datetime(w22['เดือน/ปี']).dt.strftime('%Y')
w22 = w22[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'ความเร็วลม']]
w22

     จังหวัด                  สถานี     วัน เดือน    ปี ความเร็วลม
0     นครพนม  353301-เลย สกษ. จ.เลย     ที่    11  2011        2
1     นครพนม  353301-เลย สกษ. จ.เลย       1    11  2011          1
2     นครพนม  353301-เลย สกษ. จ.เลย       2    11  2011          1
3     นครพนม  353301-เลย สกษ. จ.เลย       3    11  2011          1
4     นครพนม  353301-เลย สกษ. จ.เลย       4    11  2011          1
...      ...                    ...     ...   ...   ...        ...
1777  นครพนม  353301-เลย สกษ. จ.เลย      28    02  2022          1
1778  นครพนม  353301-เลย สกษ. จ.เลย      29    02  2022          -
1779  นครพนม  353301-เลย สกษ. จ.เลย      30    02  2022          -
1780  นครพนม  353301-เลย สกษ. จ.เลย      31    02  2022          -
1781  นครพนม  353301-เลย สกษ. จ.เลย  เฉลี่ย    02  2022   2.142857

[1782 rows x 6 columns]

####สกลนคร

In [64]:
w3.drop(['ที่','เฉลี่ย'],axis=1)
w3.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
w33 = w3.stack().reset_index()
w33.rename(columns = {'level_3':'วัน',0:'ความเร็วลม'}, inplace = True)
w33['เดือน/ปี'] = pd.to_datetime(w33['เดือน/ปี']).dt.strftime('%m-%Y')
w33['เดือน'] = pd.to_datetime(w33['เดือน/ปี']).dt.strftime('%m')
w33['ปี'] = pd.to_datetime(w33['เดือน/ปี']).dt.strftime('%Y')
w33 = w33[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'ความเร็วลม']]
w33

     จังหวัด                  สถานี     วัน เดือน    ปี ความเร็วลม
0     สกลนคร  353301-เลย สกษ. จ.เลย     ที่    11  2011        2
1     สกลนคร  353301-เลย สกษ. จ.เลย       1    11  2011          1
2     สกลนคร  353301-เลย สกษ. จ.เลย       2    11  2011          1
3     สกลนคร  353301-เลย สกษ. จ.เลย       3    11  2011          1
4     สกลนคร  353301-เลย สกษ. จ.เลย       4    11  2011          1
...      ...                    ...     ...   ...   ...        ...
1777  สกลนคร  353301-เลย สกษ. จ.เลย      28    02  2022          2
1778  สกลนคร  353301-เลย สกษ. จ.เลย      29    02  2022          -
1779  สกลนคร  353301-เลย สกษ. จ.เลย      30    02  2022          -
1780  สกลนคร  353301-เลย สกษ. จ.เลย      31    02  2022          -
1781  สกลนคร  353301-เลย สกษ. จ.เลย  เฉลี่ย    02  2022   3.035714

[1782 rows x 6 columns]

####หนองคาย

In [65]:
w4.drop(['ที่','เฉลี่ย'],axis=1)
w4.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
w44 = w4.stack().reset_index()
w44.rename(columns = {'level_3':'วัน',0:'ความเร็วลม'}, inplace = True)
w44['เดือน/ปี'] = pd.to_datetime(w44['เดือน/ปี']).dt.strftime('%m-%Y')
w44['เดือน'] = pd.to_datetime(w44['เดือน/ปี']).dt.strftime('%m')
w44['ปี'] = pd.to_datetime(w44['เดือน/ปี']).dt.strftime('%Y')
w44 = w44[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'ความเร็วลม']]
w44

      จังหวัด                  สถานี     วัน เดือน    ปี ความเร็วลม
0     หนองคาย  353301-เลย สกษ. จ.เลย     ที่    11  2011        2
1     หนองคาย  353301-เลย สกษ. จ.เลย       1    11  2011          3
2     หนองคาย  353301-เลย สกษ. จ.เลย       2    11  2011          3
3     หนองคาย  353301-เลย สกษ. จ.เลย       3    11  2011          3
4     หนองคาย  353301-เลย สกษ. จ.เลย       4    11  2011          2
...       ...                    ...     ...   ...   ...        ...
1777  หนองคาย  353301-เลย สกษ. จ.เลย      28    02  2022          2
1778  หนองคาย  353301-เลย สกษ. จ.เลย      29    02  2022          -
1779  หนองคาย  353301-เลย สกษ. จ.เลย      30    02  2022          -
1780  หนองคาย  353301-เลย สกษ. จ.เลย      31    02  2022          -
1781  หนองคาย  353301-เลย สกษ. จ.เลย  เฉลี่ย    02  2022   2.392857

[1782 rows x 6 columns]

####เลย

In [66]:
w5.drop(['ที่','เฉลี่ย'],axis=1)
w5.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
w55 = w5.stack().reset_index()
w55.rename(columns = {'level_3':'วัน',0:'ความชื้น'}, inplace = True)
w55['เดือน/ปี'] = pd.to_datetime(w55['เดือน/ปี']).dt.strftime('%m-%Y')
w55['เดือน'] = pd.to_datetime(w55['เดือน/ปี']).dt.strftime('%m')
w55['ปี'] = pd.to_datetime(w55['เดือน/ปี']).dt.strftime('%Y')
w55 = w55[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'ความชื้น']]
w55

     จังหวัด                  สถานี     วัน เดือน    ปี ความชื้น
0        เลย  353301-เลย สกษ. จ.เลย     ที่    11  2011      2
1        เลย  353301-เลย สกษ. จ.เลย       1    11  2011       85
2        เลย  353301-เลย สกษ. จ.เลย       2    11  2011       83
3        เลย  353301-เลย สกษ. จ.เลย       3    11  2011       84
4        เลย  353301-เลย สกษ. จ.เลย       4    11  2011       83
...      ...                    ...     ...   ...   ...      ...
1777     เลย  353301-เลย สกษ. จ.เลย      28    02  2022       72
1778     เลย  353301-เลย สกษ. จ.เลย      29    02  2022        -
1779     เลย  353301-เลย สกษ. จ.เลย      30    02  2022        -
1780     เลย  353301-เลย สกษ. จ.เลย      31    02  2022        -
1781     เลย  353301-เลย สกษ. จ.เลย  เฉลี่ย    02  2022       80

[1782 rows x 6 columns]

##ความเร็วลมทั้งหมดทุกจังหวัด

In [67]:
wind = pd.concat([w11,w22,w33,w44,w55])
wind

      จังหวัด                  สถานี     วัน เดือน    ปี ความเร็วลม ความชื้น
0     ขอนแก่น  353301-เลย สกษ. จ.เลย     ที่    11  2011        2        NaN
1     ขอนแก่น  353301-เลย สกษ. จ.เลย       1    11  2011          4      NaN
2     ขอนแก่น  353301-เลย สกษ. จ.เลย       2    11  2011          5      NaN
3     ขอนแก่น  353301-เลย สกษ. จ.เลย       3    11  2011          3      NaN
4     ขอนแก่น  353301-เลย สกษ. จ.เลย       4    11  2011          3      NaN
...       ...                    ...     ...   ...   ...        ...      ...
1777      เลย  353301-เลย สกษ. จ.เลย      28    02  2022        NaN       72
1778      เลย  353301-เลย สกษ. จ.เลย      29    02  2022        NaN        -
1779      เลย  353301-เลย สกษ. จ.เลย      30    02  2022        NaN        -
1780      เลย  353301-เลย สกษ. จ.เลย      31    02  2022        NaN        -
1781      เลย  353301-เลย สกษ. จ.เลย  เฉลี่ย    02  2022        NaN       80

[8910 rows x 7 columns]

##Concat all_w

In [68]:
all_w = pd.concat([w1,w2,w3,w4,w5])

##Insert column month + year

In [69]:
all_w['เดือน/ปี'] = pd.to_datetime(all_w['เดือน/ปี']).dt.strftime('%m-%Y') #change format month and year from **-mm-yyy to mm-yyyy

KeyError: ignored

In [ ]:
all_w['เดือน'] = pd.to_datetime(all_w['เดือน/ปี']).dt.strftime('%m')

In [ ]:
all_w['ปี'] = pd.to_datetime(all_w['เดือน/ปี']).dt.strftime('%Y')

##Select Columns by iloc

In [ ]:
w1_1 =all_w.iloc[0:,3:34]
w1_2 = all_w.iloc[0:,3:37]

In [ ]:
w1_2.head()

##Loop values date from 1-31 & month year and values with values in df

In [ ]:
for x, y in w1_2.iterrows():
  for i in range(1,32):
    print(f'วันที่ ',i,'เดือน ',y['เดือน'],' ปี ', y['ปี'],'ความเร็วลม -> ',y[i], 'นอต')

In [ ]:
for x, y in w1_2.iterrows():
  for i in range(1,32):
    print(f'วันที่ ',i,'เดือน ',y['เดือน'],' ปี ', y['ปี'],'ความเร็วลม -> ',y[i-1], 'นอต')

#number of clouds

In [ ]:
c1 = pd.read_excel('/content/drive/MyDrive/DPDM/จำนวนเมฆ(10ส่วน)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
c2 = pd.read_excel('/content/drive/MyDrive/DPDM/จำนวนเมฆ(10ส่วน)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
c3 = pd.read_excel('/content/drive/MyDrive/DPDM/จำนวนเมฆ(10ส่วน)/จ.สกลนคร.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
c4 = pd.read_excel('/content/drive/MyDrive/DPDM/จำนวนเมฆ(10ส่วน)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
c5 = pd.read_excel('/content/drive/MyDrive/DPDM/จำนวนเมฆ(10ส่วน)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)

##Rename Columns

In [ ]:
c1.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
c2.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
c3.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
c4.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
c5.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
        'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)

##Concat all_c

In [ ]:
all_c = pd.concat([c1,c2,c3,c4,c5])

In [ ]:
all_c.shape

##Insert column month + year

In [ ]:
all_c['เดือน'] = all_c['เดือน/ปี'].dt.month
all_c['ปี'] = all_c['เดือน/ปี'].dt.year

In [ ]:
all_c.columns

In [ ]:
all_c = all_c[['1', '2', '3', '4', '5', '6', '7', '8', '9',
       '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21',
       '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', 'เฉลี่ย', 'เดือน', 'ปี']]
all_c.shape

##Select Columns by iloc

In [ ]:
c1_2 = all_c.iloc[0:,0:34]

In [ ]:
c1_2.head()

##Loop values date from 1-31 & month year and values with values in df

In [ ]:
for x, y in c1_2.iterrows():
    print(y)

In [ ]:
for x, y in c1_2.iterrows():
  for i in range(1,32):
    print(f'วันที่ ',i,'เดือน ',y['เดือน'],' ปี ', y['ปี'],'จำนวนเมฆ -> ',y[i-1], '10ส่วน')

#amount of rain

In [ ]:
r1 = pd.read_excel('/content/drive/MyDrive/DPDM/ปริมาณฝน(มิลลิเมตร)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
r2 = pd.read_excel('/content/drive/MyDrive/DPDM/ปริมาณฝน(มิลลิเมตร)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
r3 = pd.read_excel('/content/drive/MyDrive/DPDM/ปริมาณฝน(มิลลิเมตร)/จ.สกล.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
r4 = pd.read_excel('/content/drive/MyDrive/DPDM/ปริมาณฝน(มิลลิเมตร)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
r5 = pd.read_excel('/content/drive/MyDrive/DPDM/ปริมาณฝน(มิลลิเมตร)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)

##Rename Columns

In [ ]:
r1.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
r2.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
r3.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
r4.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
r5.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
        'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)

##Concat all_r

In [ ]:
all_r = pd.concat([r1,r2,r3,r4,r5])

##Insert column month + year

In [ ]:
all_r['เดือน/ปี'] = pd.to_datetime(all_r['เดือน/ปี']).dt.strftime('%m-%Y') #change format month and year from **-mm-yyy to mm-yyyy

In [ ]:
all_r['เดือน'] = pd.to_datetime(all_r['เดือน/ปี']).dt.strftime('%m')

In [ ]:
all_r['ปี'] = pd.to_datetime(all_r['เดือน/ปี']).dt.strftime('%Y')

##Select Columns by iloc

In [ ]:
r1_1 =all_r.iloc[0:,3:34]
r1_2 = all_r.iloc[0:,3:37]

In [ ]:
r1_2.head()

##Loop values date from 1-31 & month year and values with values in df

In [ ]:
for x, y in r1_2.iterrows():
  for i in range(1,32):
    print(f'วันที่ ',i,'เดือน ',y['เดือน'],' ปี ', y['ปี'], 'ปริมาณฝน -> ',y[i-1], 'มิลลิเมตร')

#frost point temperature

In [ ]:
f1 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
f2 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
f3 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.สกล.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
f4 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
f5 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)

##Rename Columns

In [ ]:
f1.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
f2.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
f3.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
f4.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
f5.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
        'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)

##Concat all_f

In [ ]:
all_f = pd.concat([f1,f2,f3,f4,f5])

##Insert column month + year

In [ ]:
all_f['เดือน/ปี'] = pd.to_datetime(all_f['เดือน/ปี']).dt.strftime('%m-%Y') #change format month and year from **-mm-yyy to mm-yyyy

In [ ]:
all_f['เดือน'] = pd.to_datetime(all_f['เดือน/ปี']).dt.strftime('%m')

In [ ]:
all_f['ปี'] = pd.to_datetime(all_f['เดือน/ปี']).dt.strftime('%Y')

##Select Columns by iloc

In [ ]:
f1_1 =all_f.iloc[0:,3:34]
f1_2 = all_f.iloc[0:,3:37]

In [ ]:
f1_2.head()

##Loop values date from 1-31 & month year and values with values in df

In [ ]:
for x, y in f1_2.iterrows():
  for i in range(1,32):
    print(f'วันที่ ',i,'เดือน ',y['เดือน'],' ปี ', y['ปี'], 'อุณหภูมิจุดน้ำแข็งค้าง -> ',y[i-1], 'เซลเซียส')

#dry weight temperature

In [ ]:
d1 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
d2 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
d3 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.สกล.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
d4 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
d5 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)

##Rename Columns

In [ ]:
d1.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
d2.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
d3.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
d4.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
d5.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
        'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)

##Concat all_d

In [ ]:
all_d = pd.concat([d1,d2,d3,d4,d5])

##Insert column month + year

In [ ]:
all_d['เดือน/ปี'] = pd.to_datetime(all_d['เดือน/ปี']).dt.strftime('%m-%Y') #change format month and year from **-mm-yyy to mm-yyyy

In [ ]:
all_d['เดือน'] = pd.to_datetime(all_d['เดือน/ปี']).dt.strftime('%m')

In [ ]:
all_d['ปี'] = pd.to_datetime(all_d['เดือน/ปี']).dt.strftime('%Y')

##Select Columns by iloc

In [ ]:
d1_1 =all_d.iloc[0:,3:34]
d1_2 = all_d.iloc[0:,3:37]

In [ ]:
d1_2.head()

##Loop values date from 1-31 & month year and values with values in df

In [ ]:
for x, y in d1_2.iterrows():
  for i in range(1,32):
    print(f'วันที่ ',i,'เดือน ',y['เดือน'],' ปี ', y['ปี'], 'อุณหภูมิตุ้มแห้ง -> ',y[i-1], 'เซลเซียส')

#lowest temperature

In [ ]:
l1 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
l2 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
l3 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.สกล.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
l4 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
l5 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)

##Rename Columns

In [ ]:
l1.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
l2.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
l3.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
l4.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
l5.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
        'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)

##Concat all_l

In [ ]:
all_l = pd.concat([l1,l2,l3,l4,l5])

##Insert column month + year

In [ ]:
all_l['เดือน/ปี'] = pd.to_datetime(all_l['เดือน/ปี']).dt.strftime('%m-%Y') #change format month and year from **-mm-yyy to mm-yyyy

In [ ]:
all_l['เดือน'] = pd.to_datetime(all_l['เดือน/ปี']).dt.strftime('%m')

In [ ]:
all_l['ปี'] = pd.to_datetime(all_l['เดือน/ปี']).dt.strftime('%Y')

##Select Columns by iloc

In [ ]:
l1_1 =all_l.iloc[0:,3:34]
l1_2 = all_l.iloc[0:,3:37]

In [ ]:
l1_2.head()

##Loop values date from 1-31 & month year and values with values in df

In [ ]:
for x, y in l1_2.iterrows():
  for i in range(1,32):
    print(f'วันที่ ',i,'เดือน ',y['เดือน'],' ปี ', y['ปี'], 'อุณหภูมิต่ำสุด -> ',y[i-1], 'เซลเซียส')