<a href="https://colab.research.google.com/github/nxxk23/bsc_dpdm22/blob/main/Quiz_Group_5_20_of_Midterm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

เตรียมข้อมูลของกรม อุตุ() ให้อยู่ในรูปแบบ ตารางด้านล่าง เพื่อเตรียมข้อมูลสำหรับสร้าง Model ทำนาย อุณหภูมิต่ำสุดของวันจากค่าอื่นๆ

![image.png]()

column เดือน-ปี สามารถยุบรวมเป็น 1 column ได้

In [254]:
#เชื่อม google drive 
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#pressure

In [255]:
import pandas as pd
p1 = pd.read_excel('/content/drive/MyDrive/DPDM/ความกด(เปอร์เซ็นต์)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
p2 = pd.read_excel('/content/drive/MyDrive/DPDM/ความกด(เปอร์เซ็นต์)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
p3 = pd.read_excel('/content/drive/MyDrive/DPDM/ความกด(เปอร์เซ็นต์)/จ.สกลนคร.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
p4 = pd.read_excel('/content/drive/MyDrive/DPDM/ความกด(เปอร์เซ็นต์)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
p5 = pd.read_excel('/content/drive/MyDrive/DPDM/ความกด(เปอร์เซ็นต์)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)

###Rename Columns

In [256]:
p1.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
p1['จังหวัด'] = 'ขอนแก่น'
p2.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
p2['จังหวัด'] = 'นครพนม'
p3.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
p3['จังหวัด'] = 'สกลนคร'
p4.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
p4['จังหวัด'] = 'หนองคาย'
p5.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
p5['จังหวัด'] = 'เลย'

In [257]:
p1.head()

,ที่,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,24,25,26,27,28,29,30,31,เฉลี่ย,จังหวัด
1,1,352201-หนองคาย จ.หนองคาย,2011-10-01,1005.47,1006.65,1007.49,1008.28,1009.88,1011.36,1011.17,...,1010.23,1011.34,1011.84,1011.89,1012.29,1011.67,1011.3,1011.52,1010.350645,ขอนแก่น
2,2,352201-หนองคาย จ.หนองคาย,2011-11-01,1011.79,1010.83,1010.74,1010.71,1010.09,1009.24,1008.03,...,1015.40,1013.95,1012.35,1011.31,1009.59,1010.13,1010.47,-,1011.717000,ขอนแก่น
3,3,352201-หนองคาย จ.หนองคาย,2011-12-01,1011.43,1012.57,1012.28,1012.97,1013.09,1012.03,1012.05,...,1015.78,1018.56,1018.65,1016.88,1016.05,1014.98,1015.53,1016.4,1016.470000,ขอนแก่น
4,1,352201-หนองคาย จ.หนองคาย,2012-01-01,1015.67,1014.11,1012.91,1014.06,1015.51,1015.88,1017.72,...,1011.27,1011.65,1012.56,1010.76,1010.26,1010.69,1012.34,1014.52,1012.484516,ขอนแก่น
5,2,352201-หนองคาย จ.หนองคาย,2012-02-01,1013.26,1012.92,1013.61,1013.18,1011.26,1008.80,1008.16,...,1005.46,1004.80,1005.08,1006.57,1005.96,1006.53,1010.47,-,1009.749667,ขอนแก่น

In [258]:
p1.columns

Index(['ที่', 'สถานี', 'เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9',
       '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21',
       '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', 'เฉลี่ย',
       'จังหวัด'],
      dtype='object')

In [259]:
p1 = p1[['จังหวัด','สถานี','เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31']]

In [260]:
p2 = p2[['จังหวัด','สถานี','เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31']]
p3 = p3[['จังหวัด','สถานี','เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31']]
p4 = p4[['จังหวัด','สถานี','เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31']]
p5 = p5[['จังหวัด','สถานี','เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31']]

##สร้างตาราง

```
#แยกตามจังหวัดและตามหัวข้อ
```

###ขอนแก่น

In [261]:
p1.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
p11 = p1.stack().reset_index()
p11.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
p11['เดือน/ปี'] = pd.to_datetime(p11['เดือน/ปี']).dt.strftime('%m-%Y')
p11['เดือน'] = pd.to_datetime(p11['เดือน/ปี']).dt.strftime('%m')
p11['ปี'] = pd.to_datetime(p11['เดือน/ปี']).dt.strftime('%Y')
p11 = p11[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'ความกด']]
p11

      จังหวัด                     สถานี วัน เดือน    ปี   ความกด
0     ขอนแก่น  352201-หนองคาย จ.หนองคาย   1    10  2011  1005.47
1     ขอนแก่น  352201-หนองคาย จ.หนองคาย   2    10  2011  1006.65
2     ขอนแก่น  352201-หนองคาย จ.หนองคาย   3    10  2011  1007.49
3     ขอนแก่น  352201-หนองคาย จ.หนองคาย   4    10  2011  1008.28
4     ขอนแก่น  352201-หนองคาย จ.หนองคาย   5    10  2011  1009.88
...       ...                       ...  ..   ...   ...      ...
1700  ขอนแก่น  352201-หนองคาย จ.หนองคาย  27    02  2022  1014.37
1701  ขอนแก่น  352201-หนองคาย จ.หนองคาย  28    02  2022  1013.04
1702  ขอนแก่น  352201-หนองคาย จ.หนองคาย  29    02  2022  1013.37
1703  ขอนแก่น  352201-หนองคาย จ.หนองคาย  30    02  2022  1013.98
1704  ขอนแก่น  352201-หนองคาย จ.หนองคาย  31    02  2022        -

[1705 rows x 6 columns]

###นครพนม

In [262]:
p2.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
p22 = p2.stack().reset_index()
p22.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
p22['เดือน/ปี'] = pd.to_datetime(p22['เดือน/ปี']).dt.strftime('%m-%Y')
p22['เดือน'] = pd.to_datetime(p22['เดือน/ปี']).dt.strftime('%m')
p22['ปี'] = pd.to_datetime(p22['เดือน/ปี']).dt.strftime('%Y')
p22 = p22[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'ความกด']]
p22

     จังหวัด                     สถานี วัน เดือน    ปี   ความกด
0     นครพนม  352201-หนองคาย จ.หนองคาย   1    10  2011   1006.3
1     นครพนม  352201-หนองคาย จ.หนองคาย   2    10  2011  1007.38
2     นครพนม  352201-หนองคาย จ.หนองคาย   3    10  2011  1008.07
3     นครพนม  352201-หนองคาย จ.หนองคาย   4    10  2011  1008.44
4     นครพนม  352201-หนองคาย จ.หนองคาย   5    10  2011  1010.51
...      ...                       ...  ..   ...   ...      ...
1700  นครพนม  352201-หนองคาย จ.หนองคาย  27    02  2022  1016.43
1701  นครพนม  352201-หนองคาย จ.หนองคาย  28    02  2022  1013.53
1702  นครพนม  352201-หนองคาย จ.หนองคาย  29    02  2022  1013.37
1703  นครพนม  352201-หนองคาย จ.หนองคาย  30    02  2022  1013.98
1704  นครพนม  352201-หนองคาย จ.หนองคาย  31    02  2022        -

[1705 rows x 6 columns]

###สกลนคร

In [263]:
p3.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
p33 = p3.stack().reset_index()
p33.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
p33['เดือน/ปี'] = pd.to_datetime(p33['เดือน/ปี']).dt.strftime('%m-%Y')
p33['เดือน'] = pd.to_datetime(p33['เดือน/ปี']).dt.strftime('%m')
p33['ปี'] = pd.to_datetime(p33['เดือน/ปี']).dt.strftime('%Y')
p33 = p33[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'ความกด']]
p33

     จังหวัด                     สถานี วัน เดือน    ปี   ความกด
0     สกลนคร  352201-หนองคาย จ.หนองคาย   1    10  2011  1005.84
1     สกลนคร  352201-หนองคาย จ.หนองคาย   2    10  2011  1007.16
2     สกลนคร  352201-หนองคาย จ.หนองคาย   3    10  2011  1007.87
3     สกลนคร  352201-หนองคาย จ.หนองคาย   4    10  2011  1008.56
4     สกลนคร  352201-หนองคาย จ.หนองคาย   5    10  2011  1010.55
...      ...                       ...  ..   ...   ...      ...
1700  สกลนคร  352201-หนองคาย จ.หนองคาย  27    02  2022  1014.95
1701  สกลนคร  352201-หนองคาย จ.หนองคาย  28    02  2022  1012.89
1702  สกลนคร  352201-หนองคาย จ.หนองคาย  29    02  2022  1013.37
1703  สกลนคร  352201-หนองคาย จ.หนองคาย  30    02  2022  1013.98
1704  สกลนคร  352201-หนองคาย จ.หนองคาย  31    02  2022        -

[1705 rows x 6 columns]

###หนองคาย

In [264]:
p4.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
p44 = p4.stack().reset_index()
p44.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
p44['เดือน/ปี'] = pd.to_datetime(p44['เดือน/ปี']).dt.strftime('%m-%Y')
p44['เดือน'] = pd.to_datetime(p44['เดือน/ปี']).dt.strftime('%m')
p44['ปี'] = pd.to_datetime(p44['เดือน/ปี']).dt.strftime('%Y')
p44 = p44[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'ความกด']]
p44

      จังหวัด                     สถานี วัน เดือน    ปี   ความกด
0     หนองคาย  352201-หนองคาย จ.หนองคาย   1    10  2011  1005.34
1     หนองคาย  352201-หนองคาย จ.หนองคาย   2    10  2011  1006.67
2     หนองคาย  352201-หนองคาย จ.หนองคาย   3    10  2011  1007.39
3     หนองคาย  352201-หนองคาย จ.หนองคาย   4    10  2011  1008.11
4     หนองคาย  352201-หนองคาย จ.หนองคาย   5    10  2011  1009.69
...       ...                       ...  ..   ...   ...      ...
1700  หนองคาย  352201-หนองคาย จ.หนองคาย  27    02  2022  1015.31
1701  หนองคาย  352201-หนองคาย จ.หนองคาย  28    02  2022  1013.06
1702  หนองคาย  352201-หนองคาย จ.หนองคาย  29    02  2022        -
1703  หนองคาย  352201-หนองคาย จ.หนองคาย  30    02  2022        -
1704  หนองคาย  352201-หนองคาย จ.หนองคาย  31    02  2022        -

[1705 rows x 6 columns]

###เลย

In [265]:
p5.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
p55 = p5.stack().reset_index()
p55.rename(columns = {'level_3':'วัน',0:'ความกด'}, inplace = True)
p55['เดือน/ปี'] = pd.to_datetime(p55['เดือน/ปี']).dt.strftime('%m-%Y')
p55['เดือน'] = pd.to_datetime(p55['เดือน/ปี']).dt.strftime('%m')
p55['ปี'] = pd.to_datetime(p55['เดือน/ปี']).dt.strftime('%Y')
p55 = p55[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'ความกด']]
p55

     จังหวัด                     สถานี วัน เดือน    ปี   ความกด
0        เลย  352201-หนองคาย จ.หนองคาย   1    10  2011  1005.12
1        เลย  352201-หนองคาย จ.หนองคาย   2    10  2011  1006.51
2        เลย  352201-หนองคาย จ.หนองคาย   3    10  2011  1007.81
3        เลย  352201-หนองคาย จ.หนองคาย   4    10  2011  1008.15
4        เลย  352201-หนองคาย จ.หนองคาย   5    10  2011  1009.21
...      ...                       ...  ..   ...   ...      ...
1700     เลย  352201-หนองคาย จ.หนองคาย  27    02  2022  1014.97
1701     เลย  352201-หนองคาย จ.หนองคาย  28    02  2022  1012.88
1702     เลย  352201-หนองคาย จ.หนองคาย  29    02  2022        -
1703     เลย  352201-หนองคาย จ.หนองคาย  30    02  2022        -
1704     เลย  352201-หนองคาย จ.หนองคาย  31    02  2022        -

[1705 rows x 6 columns]

##ความกดทั้งหมดทุกจังหวัด

In [266]:
pressure = pd.concat([p11,p22,p33,p44,p55])
pressure

      จังหวัด                     สถานี วัน เดือน    ปี   ความกด
0     ขอนแก่น  352201-หนองคาย จ.หนองคาย   1    10  2011  1005.47
1     ขอนแก่น  352201-หนองคาย จ.หนองคาย   2    10  2011  1006.65
2     ขอนแก่น  352201-หนองคาย จ.หนองคาย   3    10  2011  1007.49
3     ขอนแก่น  352201-หนองคาย จ.หนองคาย   4    10  2011  1008.28
4     ขอนแก่น  352201-หนองคาย จ.หนองคาย   5    10  2011  1009.88
...       ...                       ...  ..   ...   ...      ...
1700      เลย  352201-หนองคาย จ.หนองคาย  27    02  2022  1014.97
1701      เลย  352201-หนองคาย จ.หนองคาย  28    02  2022  1012.88
1702      เลย  352201-หนองคาย จ.หนองคาย  29    02  2022        -
1703      เลย  352201-หนองคาย จ.หนองคาย  30    02  2022        -
1704      เลย  352201-หนองคาย จ.หนองคาย  31    02  2022        -

[8525 rows x 6 columns]

#moisture

In [267]:
import pandas as pd
m1 = pd.read_excel('/content/drive/MyDrive/DPDM/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
m2 = pd.read_excel('/content/drive/MyDrive/DPDM/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
m3 = pd.read_excel('/content/drive/MyDrive/DPDM/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.สกลนคร.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
m4 = pd.read_excel('/content/drive/MyDrive/DPDM/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
m5 = pd.read_excel('/content/drive/MyDrive/DPDM/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)

#Rename

In [268]:
m1.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
m1['จังหวัด'] = 'ขอนแก่น'
m2.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
m2['จังหวัด'] = 'นครพนม'
m3.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
m3['จังหวัด'] = 'สกลนคร'
m4.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
m4['จังหวัด'] = 'หนองคาย'
m5.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
m5['จังหวัด'] = 'เลย'

##Select column

In [269]:
m1 = m1[['จังหวัด','สถานี','เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31']]
m2 = m2[['จังหวัด','สถานี','เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31']]
m3 = m3[['จังหวัด','สถานี','เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31']]
m4 = m4[['จังหวัด','สถานี','เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31']]
m5 = m5[['จังหวัด','สถานี','เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31']]

##สร้างตาราง

```
#แยกตามจังหวัดและตามหัวข้อ
```

####ขอนแก่น

In [270]:
m1.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
m11 = m1.stack().reset_index()
m11.rename(columns = {'level_3':'วัน',0:'ความชื้น'}, inplace = True)
m11['เดือน/ปี'] = pd.to_datetime(m11['เดือน/ปี']).dt.strftime('%m-%Y')
m11['เดือน'] = pd.to_datetime(m11['เดือน/ปี']).dt.strftime('%m')
m11['ปี'] = pd.to_datetime(m11['เดือน/ปี']).dt.strftime('%Y')
m11.shape
m11 = m11[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'ความชื้น']]

####นครพนม

In [271]:
m2.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
m22 = m2.stack().reset_index()
m22.rename(columns = {'level_3':'วัน',0:'ความชื้น'}, inplace = True)
m22['เดือน/ปี'] = pd.to_datetime(m22['เดือน/ปี']).dt.strftime('%m-%Y')
m22['เดือน'] = pd.to_datetime(m22['เดือน/ปี']).dt.strftime('%m')
m22['ปี'] = pd.to_datetime(m22['เดือน/ปี']).dt.strftime('%Y')
m22 = m22[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'ความชื้น']]
m22

     จังหวัด                   สถานี วัน เดือน    ปี ความชื้น
0     นครพนม  357201-นครพนม จ.นครพนม   1    10  2011       95
1     นครพนม  357201-นครพนม จ.นครพนม   2    10  2011       84
2     นครพนม  357201-นครพนม จ.นครพนม   3    10  2011       74
3     นครพนม  357201-นครพนม จ.นครพนม   4    10  2011       72
4     นครพนม  357201-นครพนม จ.นครพนม   5    10  2011       87
...      ...                     ...  ..   ...   ...      ...
1700  นครพนม  357201-นครพนม จ.นครพนม  27    02  2022       52
1701  นครพนม  357201-นครพนม จ.นครพนม  28    02  2022       60
1702  นครพนม  357201-นครพนม จ.นครพนม  29    02  2022        -
1703  นครพนม  357201-นครพนม จ.นครพนม  30    02  2022        -
1704  นครพนม  357201-นครพนม จ.นครพนม  31    02  2022        -

[1705 rows x 6 columns]

####สกลนคร

In [272]:
m3.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
m33 = m3.stack().reset_index()
m33.rename(columns = {'level_3':'วัน',0:'ความชื้น'}, inplace = True)
m33['เดือน/ปี'] = pd.to_datetime(m33['เดือน/ปี']).dt.strftime('%m-%Y')
m33['เดือน'] = pd.to_datetime(m33['เดือน/ปี']).dt.strftime('%m')
m33['ปี'] = pd.to_datetime(m33['เดือน/ปี']).dt.strftime('%Y')
m33 = m33[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'ความชื้น']]
m33

     จังหวัด                   สถานี วัน เดือน    ปี ความชื้น
0     สกลนคร  356201-สกลนคร จ.สกลนคร   1    10  2011       87
1     สกลนคร  356201-สกลนคร จ.สกลนคร   2    10  2011       88
2     สกลนคร  356201-สกลนคร จ.สกลนคร   3    10  2011       77
3     สกลนคร  356201-สกลนคร จ.สกลนคร   4    10  2011       75
4     สกลนคร  356201-สกลนคร จ.สกลนคร   5    10  2011       87
...      ...                     ...  ..   ...   ...      ...
1700  สกลนคร  356201-สกลนคร จ.สกลนคร  27    02  2022       65
1701  สกลนคร  356201-สกลนคร จ.สกลนคร  28    02  2022       68
1702  สกลนคร  356201-สกลนคร จ.สกลนคร  29    02  2022        -
1703  สกลนคร  356201-สกลนคร จ.สกลนคร  30    02  2022        -
1704  สกลนคร  356201-สกลนคร จ.สกลนคร  31    02  2022        -

[1705 rows x 6 columns]

####หนองคาย

In [273]:
m4.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
m44 = m4.stack().reset_index()
m44.rename(columns = {'level_3':'วัน',0:'ความชื้น'}, inplace = True)
m44['เดือน/ปี'] = pd.to_datetime(m44['เดือน/ปี']).dt.strftime('%m-%Y')
m44['เดือน'] = pd.to_datetime(m44['เดือน/ปี']).dt.strftime('%m')
m44['ปี'] = pd.to_datetime(m44['เดือน/ปี']).dt.strftime('%Y')
m44 = m44[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'ความชื้น']]
m44

      จังหวัด                     สถานี วัน เดือน    ปี ความชื้น
0     หนองคาย  352201-หนองคาย จ.หนองคาย   1    10  2011       89
1     หนองคาย  352201-หนองคาย จ.หนองคาย   2    10  2011       91
2     หนองคาย  352201-หนองคาย จ.หนองคาย   3    10  2011       78
3     หนองคาย  352201-หนองคาย จ.หนองคาย   4    10  2011       75
4     หนองคาย  352201-หนองคาย จ.หนองคาย   5    10  2011       90
...       ...                       ...  ..   ...   ...      ...
1700  หนองคาย  352201-หนองคาย จ.หนองคาย  27    02  2022       62
1701  หนองคาย  352201-หนองคาย จ.หนองคาย  28    02  2022       65
1702  หนองคาย  352201-หนองคาย จ.หนองคาย  29    02  2022        -
1703  หนองคาย  352201-หนองคาย จ.หนองคาย  30    02  2022        -
1704  หนองคาย  352201-หนองคาย จ.หนองคาย  31    02  2022        -

[1705 rows x 6 columns]

####เลย

In [274]:
m5.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
m55 = m5.stack().reset_index()
m55.rename(columns = {'level_3':'วัน',0:'ความชื้น'}, inplace = True)
m55['เดือน/ปี'] = pd.to_datetime(m55['เดือน/ปี']).dt.strftime('%m-%Y')
m55['เดือน'] = pd.to_datetime(m55['เดือน/ปี']).dt.strftime('%m')
m55['ปี'] = pd.to_datetime(m55['เดือน/ปี']).dt.strftime('%Y')
m55 = m55[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'ความชื้น']]
m55

     จังหวัด                  สถานี วัน เดือน    ปี ความชื้น
0        เลย  353301-เลย สกษ. จ.เลย   1    10  2011       90
1        เลย  353301-เลย สกษ. จ.เลย   2    10  2011       95
2        เลย  353301-เลย สกษ. จ.เลย   3    10  2011       92
3        เลย  353301-เลย สกษ. จ.เลย   4    10  2011       89
4        เลย  353301-เลย สกษ. จ.เลย   5    10  2011       86
...      ...                    ...  ..   ...   ...      ...
1700     เลย  353301-เลย สกษ. จ.เลย  27    02  2022       74
1701     เลย  353301-เลย สกษ. จ.เลย  28    02  2022       72
1702     เลย  353301-เลย สกษ. จ.เลย  29    02  2022        -
1703     เลย  353301-เลย สกษ. จ.เลย  30    02  2022        -
1704     เลย  353301-เลย สกษ. จ.เลย  31    02  2022        -

[1705 rows x 6 columns]

##ความชื้นทั้งหมดทุกจังหวัด

In [275]:
moisture = pd.concat([m11,m22,m33,m44,m55])
moisture

      จังหวัด                     สถานี วัน เดือน    ปี ความชื้น
0     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   1    10  2011       83
1     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   2    10  2011       92
2     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   3    10  2011       86
3     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   4    10  2011       80
4     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   5    10  2011       86
...       ...                       ...  ..   ...   ...      ...
1700      เลย     353301-เลย สกษ. จ.เลย  27    02  2022       74
1701      เลย     353301-เลย สกษ. จ.เลย  28    02  2022       72
1702      เลย     353301-เลย สกษ. จ.เลย  29    02  2022        -
1703      เลย     353301-เลย สกษ. จ.เลย  30    02  2022        -
1704      เลย     353301-เลย สกษ. จ.เลย  31    02  2022        -

[8525 rows x 6 columns]

#wind speed

In [276]:
import pandas as pd
w1 = pd.read_excel('/content/drive/MyDrive/DPDM/ความเร็วลม(นอต)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
w2 = pd.read_excel('/content/drive/MyDrive/DPDM/ความเร็วลม(นอต)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
w3 = pd.read_excel('/content/drive/MyDrive/DPDM/ความเร็วลม(นอต)/จ.สกลนคร.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
w4 = pd.read_excel('/content/drive/MyDrive/DPDM/ความเร็วลม(นอต)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
w5 = pd.read_excel('/content/drive/MyDrive/DPDM/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)

##Rename Columns

In [277]:
w1.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
w1['จังหวัด'] = 'ขอนแก่น'
w2.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
w2['จังหวัด'] = 'นครพนม'
w3.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
w3['จังหวัด'] = 'สกลนคร'
w4.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
w4['จังหวัด'] = 'หนองคาย'
w5.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
        'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
w5['จังหวัด'] = 'เลย'

##Select Columns

In [278]:
w1 = w1[['จังหวัด','สถานี','เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31']]
w2 = w2[['จังหวัด','สถานี','เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31']]
w3 = w3[['จังหวัด','สถานี','เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31']]
w4 = w4[['จังหวัด','สถานี','เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31']]
w5 = w5[['จังหวัด','สถานี','เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31']]

##สร้างตาราง

```
#แยกตามจังหวัดและตามหัวข้อ
```

####ขอนแก่น

In [279]:
w1.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
w11 = w1.stack().reset_index()
w11.rename(columns = {'level_3':'วัน',0:'ความเร็วลม'}, inplace = True)
w11['เดือน/ปี'] = pd.to_datetime(w11['เดือน/ปี']).dt.strftime('%m-%Y')
w11['เดือน'] = pd.to_datetime(w11['เดือน/ปี']).dt.strftime('%m')
w11['ปี'] = pd.to_datetime(w11['เดือน/ปี']).dt.strftime('%Y')
w11.shape
w11 = w11[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'ความเร็วลม']]

####นครพนม

In [280]:
w2.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
w22 = w2.stack().reset_index()
w22.rename(columns = {'level_3':'วัน',0:'ความเร็วลม'}, inplace = True)
w22['เดือน/ปี'] = pd.to_datetime(w22['เดือน/ปี']).dt.strftime('%m-%Y')
w22['เดือน'] = pd.to_datetime(w22['เดือน/ปี']).dt.strftime('%m')
w22['ปี'] = pd.to_datetime(w22['เดือน/ปี']).dt.strftime('%Y')
w22 = w22[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'ความเร็วลม']]
w22

     จังหวัด                  สถานี วัน เดือน    ปี ความเร็วลม
0     นครพนม  353301-เลย สกษ. จ.เลย   1    10  2011          1
1     นครพนม  353301-เลย สกษ. จ.เลย   2    10  2011          1
2     นครพนม  353301-เลย สกษ. จ.เลย   3    10  2011          2
3     นครพนม  353301-เลย สกษ. จ.เลย   4    10  2011          2
4     นครพนม  353301-เลย สกษ. จ.เลย   5    10  2011          1
...      ...                    ...  ..   ...   ...        ...
1700  นครพนม  353301-เลย สกษ. จ.เลย  27    02  2022          2
1701  นครพนม  353301-เลย สกษ. จ.เลย  28    02  2022          1
1702  นครพนม  353301-เลย สกษ. จ.เลย  29    02  2022          -
1703  นครพนม  353301-เลย สกษ. จ.เลย  30    02  2022          -
1704  นครพนม  353301-เลย สกษ. จ.เลย  31    02  2022          -

[1705 rows x 6 columns]

####สกลนคร

In [281]:
w3.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
w33 = w3.stack().reset_index()
w33.rename(columns = {'level_3':'วัน',0:'ความเร็วลม'}, inplace = True)
w33['เดือน/ปี'] = pd.to_datetime(w33['เดือน/ปี']).dt.strftime('%m-%Y')
w33['เดือน'] = pd.to_datetime(w33['เดือน/ปี']).dt.strftime('%m')
w33['ปี'] = pd.to_datetime(w33['เดือน/ปี']).dt.strftime('%Y')
w33 = w33[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'ความเร็วลม']]
w33

     จังหวัด                  สถานี วัน เดือน    ปี ความเร็วลม
0     สกลนคร  353301-เลย สกษ. จ.เลย   1    10  2011          1
1     สกลนคร  353301-เลย สกษ. จ.เลย   2    10  2011          1
2     สกลนคร  353301-เลย สกษ. จ.เลย   3    10  2011          2
3     สกลนคร  353301-เลย สกษ. จ.เลย   4    10  2011          2
4     สกลนคร  353301-เลย สกษ. จ.เลย   5    10  2011          1
...      ...                    ...  ..   ...   ...        ...
1700  สกลนคร  353301-เลย สกษ. จ.เลย  27    02  2022          3
1701  สกลนคร  353301-เลย สกษ. จ.เลย  28    02  2022          2
1702  สกลนคร  353301-เลย สกษ. จ.เลย  29    02  2022          -
1703  สกลนคร  353301-เลย สกษ. จ.เลย  30    02  2022          -
1704  สกลนคร  353301-เลย สกษ. จ.เลย  31    02  2022          -

[1705 rows x 6 columns]

####หนองคาย

In [282]:
w4.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
w44 = w4.stack().reset_index()
w44.rename(columns = {'level_3':'วัน',0:'ความเร็วลม'}, inplace = True)
w44['เดือน/ปี'] = pd.to_datetime(w44['เดือน/ปี']).dt.strftime('%m-%Y')
w44['เดือน'] = pd.to_datetime(w44['เดือน/ปี']).dt.strftime('%m')
w44['ปี'] = pd.to_datetime(w44['เดือน/ปี']).dt.strftime('%Y')
w44 = w44[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'ความเร็วลม']]
w44

      จังหวัด                  สถานี วัน เดือน    ปี ความเร็วลม
0     หนองคาย  353301-เลย สกษ. จ.เลย   1    10  2011          1
1     หนองคาย  353301-เลย สกษ. จ.เลย   2    10  2011          4
2     หนองคาย  353301-เลย สกษ. จ.เลย   3    10  2011          4
3     หนองคาย  353301-เลย สกษ. จ.เลย   4    10  2011          2
4     หนองคาย  353301-เลย สกษ. จ.เลย   5    10  2011          1
...       ...                    ...  ..   ...   ...        ...
1700  หนองคาย  353301-เลย สกษ. จ.เลย  27    02  2022          2
1701  หนองคาย  353301-เลย สกษ. จ.เลย  28    02  2022          2
1702  หนองคาย  353301-เลย สกษ. จ.เลย  29    02  2022          -
1703  หนองคาย  353301-เลย สกษ. จ.เลย  30    02  2022          -
1704  หนองคาย  353301-เลย สกษ. จ.เลย  31    02  2022          -

[1705 rows x 6 columns]

####เลย

In [283]:
w5.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
w55 = w5.stack().reset_index()
w55.rename(columns = {'level_3':'วัน',0:'ความเร็วลม'}, inplace = True)
w55['เดือน/ปี'] = pd.to_datetime(w55['เดือน/ปี']).dt.strftime('%m-%Y')
w55['เดือน'] = pd.to_datetime(w55['เดือน/ปี']).dt.strftime('%m')
w55['ปี'] = pd.to_datetime(w55['เดือน/ปี']).dt.strftime('%Y')
w55 = w55[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'ความเร็วลม']]
w55

     จังหวัด                  สถานี วัน เดือน    ปี ความเร็วลม
0        เลย  353301-เลย สกษ. จ.เลย   1    10  2011         90
1        เลย  353301-เลย สกษ. จ.เลย   2    10  2011         95
2        เลย  353301-เลย สกษ. จ.เลย   3    10  2011         92
3        เลย  353301-เลย สกษ. จ.เลย   4    10  2011         89
4        เลย  353301-เลย สกษ. จ.เลย   5    10  2011         86
...      ...                    ...  ..   ...   ...        ...
1700     เลย  353301-เลย สกษ. จ.เลย  27    02  2022         74
1701     เลย  353301-เลย สกษ. จ.เลย  28    02  2022         72
1702     เลย  353301-เลย สกษ. จ.เลย  29    02  2022          -
1703     เลย  353301-เลย สกษ. จ.เลย  30    02  2022          -
1704     เลย  353301-เลย สกษ. จ.เลย  31    02  2022          -

[1705 rows x 6 columns]

##ความเร็วลมทั้งหมดทุกจังหวัด

In [284]:
wind = pd.concat([w11,w22,w33,w44,w55])
wind

      จังหวัด                  สถานี วัน เดือน    ปี ความเร็วลม
0     ขอนแก่น  353301-เลย สกษ. จ.เลย   1    10  2011          3
1     ขอนแก่น  353301-เลย สกษ. จ.เลย   2    10  2011          2
2     ขอนแก่น  353301-เลย สกษ. จ.เลย   3    10  2011          3
3     ขอนแก่น  353301-เลย สกษ. จ.เลย   4    10  2011          2
4     ขอนแก่น  353301-เลย สกษ. จ.เลย   5    10  2011          2
...       ...                    ...  ..   ...   ...        ...
1700      เลย  353301-เลย สกษ. จ.เลย  27    02  2022         74
1701      เลย  353301-เลย สกษ. จ.เลย  28    02  2022         72
1702      เลย  353301-เลย สกษ. จ.เลย  29    02  2022          -
1703      เลย  353301-เลย สกษ. จ.เลย  30    02  2022          -
1704      เลย  353301-เลย สกษ. จ.เลย  31    02  2022          -

[8525 rows x 6 columns]

#number of clouds

In [285]:
c1 = pd.read_excel('/content/drive/MyDrive/DPDM/จำนวนเมฆ(10ส่วน)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
c2 = pd.read_excel('/content/drive/MyDrive/DPDM/จำนวนเมฆ(10ส่วน)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
c3 = pd.read_excel('/content/drive/MyDrive/DPDM/จำนวนเมฆ(10ส่วน)/จ.สกลนคร.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
c4 = pd.read_excel('/content/drive/MyDrive/DPDM/จำนวนเมฆ(10ส่วน)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
c5 = pd.read_excel('/content/drive/MyDrive/DPDM/จำนวนเมฆ(10ส่วน)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)

##Rename Columns

In [286]:
c1.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
        'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
c1['จังหวัด'] = 'ขอนแก่น'
c2.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
c2['จังหวัด'] = 'นครพนม'
c3.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
c3['จังหวัด'] = 'สกลนคร'
c4.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
c4['จังหวัด'] = 'หนองคาย'
c5.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
        'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
c5['จังหวัด'] = 'เลย'

##Select Columns

In [287]:
c1 = c1[['จังหวัด','สถานี','เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31']]
c2 = c2[['จังหวัด','สถานี','เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31']]
c3 = c3[['จังหวัด','สถานี','เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31']]
c4 = c4[['จังหวัด','สถานี','เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31']]
c5 = c5[['จังหวัด','สถานี','เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31']]

##สร้างตาราง

```
#แยกตามจังหวัดและตามหัวข้อ
```

####ขอนแก่น

In [288]:
c1.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
c11 = c1.stack().reset_index()
c11.rename(columns = {'level_3':'วัน',0:'จำนวนเมฆ'}, inplace = True)
c11['เดือน/ปี'] = pd.to_datetime(c11['เดือน/ปี']).dt.strftime('%m-%Y')
c11['เดือน'] = pd.to_datetime(c11['เดือน/ปี']).dt.strftime('%m')
c11['ปี'] = pd.to_datetime(c11['เดือน/ปี']).dt.strftime('%Y')
c11.shape
c11 = c11[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'จำนวนเมฆ']]
c11

      จังหวัด                  สถานี วัน เดือน    ปี จำนวนเมฆ
0     ขอนแก่น  353301-เลย สกษ. จ.เลย   1    10  2011        9
1     ขอนแก่น  353301-เลย สกษ. จ.เลย   2    10  2011       10
2     ขอนแก่น  353301-เลย สกษ. จ.เลย   3    10  2011       10
3     ขอนแก่น  353301-เลย สกษ. จ.เลย   4    10  2011        8
4     ขอนแก่น  353301-เลย สกษ. จ.เลย   5    10  2011       10
...       ...                    ...  ..   ...   ...      ...
1700  ขอนแก่น  353301-เลย สกษ. จ.เลย  27    02  2022        2
1701  ขอนแก่น  353301-เลย สกษ. จ.เลย  28    02  2022        2
1702  ขอนแก่น  353301-เลย สกษ. จ.เลย  29    02  2022        -
1703  ขอนแก่น  353301-เลย สกษ. จ.เลย  30    02  2022        -
1704  ขอนแก่น  353301-เลย สกษ. จ.เลย  31    02  2022        -

[1705 rows x 6 columns]

####นครพนม

In [289]:
c2.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
c22 = c2.stack().reset_index()
c22.rename(columns = {'level_3':'วัน',0:'จำนวนเมฆ'}, inplace = True)
c22['เดือน/ปี'] = pd.to_datetime(c22['เดือน/ปี']).dt.strftime('%m-%Y')
c22['เดือน'] = pd.to_datetime(c22['เดือน/ปี']).dt.strftime('%m')
c22['ปี'] = pd.to_datetime(c22['เดือน/ปี']).dt.strftime('%Y')
c22 = c22[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'จำนวนเมฆ']]
c22

     จังหวัด                  สถานี วัน เดือน    ปี จำนวนเมฆ
0     นครพนม  353301-เลย สกษ. จ.เลย   1    10  2011       10
1     นครพนม  353301-เลย สกษ. จ.เลย   2    10  2011        7
2     นครพนม  353301-เลย สกษ. จ.เลย   3    10  2011        8
3     นครพนม  353301-เลย สกษ. จ.เลย   4    10  2011        8
4     นครพนม  353301-เลย สกษ. จ.เลย   5    10  2011       10
...      ...                    ...  ..   ...   ...      ...
1700  นครพนม  353301-เลย สกษ. จ.เลย  27    02  2022        1
1701  นครพนม  353301-เลย สกษ. จ.เลย  28    02  2022        0
1702  นครพนม  353301-เลย สกษ. จ.เลย  29    02  2022        -
1703  นครพนม  353301-เลย สกษ. จ.เลย  30    02  2022        -
1704  นครพนม  353301-เลย สกษ. จ.เลย  31    02  2022        -

[1705 rows x 6 columns]

####สกลนคร

In [290]:
c3.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
c33 = c3.stack().reset_index()
c33.rename(columns = {'level_3':'วัน',0:'จำนวนเมฆ'}, inplace = True)
c33['เดือน/ปี'] = pd.to_datetime(c33['เดือน/ปี']).dt.strftime('%m-%Y')
c33['เดือน'] = pd.to_datetime(c33['เดือน/ปี']).dt.strftime('%m')
c33['ปี'] = pd.to_datetime(c33['เดือน/ปี']).dt.strftime('%Y')
c33 = c33[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'จำนวนเมฆ']]
c33

     จังหวัด                  สถานี วัน เดือน    ปี จำนวนเมฆ
0     สกลนคร  353301-เลย สกษ. จ.เลย   1    10  2011        9
1     สกลนคร  353301-เลย สกษ. จ.เลย   2    10  2011        9
2     สกลนคร  353301-เลย สกษ. จ.เลย   3    10  2011        7
3     สกลนคร  353301-เลย สกษ. จ.เลย   4    10  2011        7
4     สกลนคร  353301-เลย สกษ. จ.เลย   5    10  2011        9
...      ...                    ...  ..   ...   ...      ...
1700  สกลนคร  353301-เลย สกษ. จ.เลย  27    02  2022        3
1701  สกลนคร  353301-เลย สกษ. จ.เลย  28    02  2022        0
1702  สกลนคร  353301-เลย สกษ. จ.เลย  29    02  2022        1
1703  สกลนคร  353301-เลย สกษ. จ.เลย  30    02  2022        1
1704  สกลนคร  353301-เลย สกษ. จ.เลย  31    02  2022        -

[1705 rows x 6 columns]

####หนองคาย

In [291]:
c4.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
c44 = c4.stack().reset_index()
c44.rename(columns = {'level_3':'วัน',0:'จำนวนเมฆ'}, inplace = True)
c44['เดือน/ปี'] = pd.to_datetime(c44['เดือน/ปี']).dt.strftime('%m-%Y')
c44['เดือน'] = pd.to_datetime(c44['เดือน/ปี']).dt.strftime('%m')
c44['ปี'] = pd.to_datetime(c44['เดือน/ปี']).dt.strftime('%Y')
c44 = c44[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'จำนวนเมฆ']]
c44

      จังหวัด                  สถานี วัน เดือน    ปี จำนวนเมฆ
0     หนองคาย  353301-เลย สกษ. จ.เลย   1    10  2011       10
1     หนองคาย  353301-เลย สกษ. จ.เลย   2    10  2011       10
2     หนองคาย  353301-เลย สกษ. จ.เลย   3    10  2011        8
3     หนองคาย  353301-เลย สกษ. จ.เลย   4    10  2011        9
4     หนองคาย  353301-เลย สกษ. จ.เลย   5    10  2011        9
...       ...                    ...  ..   ...   ...      ...
1697  หนองคาย  353301-เลย สกษ. จ.เลย  27    02  2022        3
1698  หนองคาย  353301-เลย สกษ. จ.เลย  28    02  2022        2
1699  หนองคาย  353301-เลย สกษ. จ.เลย  29    02  2022        1
1700  หนองคาย  353301-เลย สกษ. จ.เลย  30    02  2022        1
1701  หนองคาย  353301-เลย สกษ. จ.เลย  31    02  2022        -

[1702 rows x 6 columns]

####เลย

In [292]:
c5.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
c55 = c5.stack().reset_index()
c55.rename(columns = {'level_3':'วัน',0:'จำนวนเมฆ'}, inplace = True)
c55['เดือน/ปี'] = pd.to_datetime(c55['เดือน/ปี']).dt.strftime('%m-%Y')
c55['เดือน'] = pd.to_datetime(c55['เดือน/ปี']).dt.strftime('%m')
c55['ปี'] = pd.to_datetime(c55['เดือน/ปี']).dt.strftime('%Y')
c55 = c55[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'จำนวนเมฆ']]
c55

     จังหวัด                  สถานี วัน เดือน    ปี จำนวนเมฆ
0        เลย  353301-เลย สกษ. จ.เลย   1    10  2011        8
1        เลย  353301-เลย สกษ. จ.เลย   2    10  2011       10
2        เลย  353301-เลย สกษ. จ.เลย   3    10  2011       10
3        เลย  353301-เลย สกษ. จ.เลย   4    10  2011        9
4        เลย  353301-เลย สกษ. จ.เลย   5    10  2011        8
...      ...                    ...  ..   ...   ...      ...
1700     เลย  353301-เลย สกษ. จ.เลย  27    02  2022        3
1701     เลย  353301-เลย สกษ. จ.เลย  28    02  2022        2
1702     เลย  353301-เลย สกษ. จ.เลย  29    02  2022        -
1703     เลย  353301-เลย สกษ. จ.เลย  30    02  2022        -
1704     เลย  353301-เลย สกษ. จ.เลย  31    02  2022        -

[1705 rows x 6 columns]

##จำนวนเมฆทั้งหมดทุกจังหวัด

In [293]:
cloud = pd.concat([c11,c22,c33,c44,c55])
cloud

      จังหวัด                  สถานี วัน เดือน    ปี จำนวนเมฆ
0     ขอนแก่น  353301-เลย สกษ. จ.เลย   1    10  2011        9
1     ขอนแก่น  353301-เลย สกษ. จ.เลย   2    10  2011       10
2     ขอนแก่น  353301-เลย สกษ. จ.เลย   3    10  2011       10
3     ขอนแก่น  353301-เลย สกษ. จ.เลย   4    10  2011        8
4     ขอนแก่น  353301-เลย สกษ. จ.เลย   5    10  2011       10
...       ...                    ...  ..   ...   ...      ...
1700      เลย  353301-เลย สกษ. จ.เลย  27    02  2022        3
1701      เลย  353301-เลย สกษ. จ.เลย  28    02  2022        2
1702      เลย  353301-เลย สกษ. จ.เลย  29    02  2022        -
1703      เลย  353301-เลย สกษ. จ.เลย  30    02  2022        -
1704      เลย  353301-เลย สกษ. จ.เลย  31    02  2022        -

[8522 rows x 6 columns]

#Amount of rain

In [294]:
r1 = pd.read_excel('/content/drive/MyDrive/DPDM/ปริมาณฝน(มิลลิเมตร)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
r2 = pd.read_excel('/content/drive/MyDrive/DPDM/ปริมาณฝน(มิลลิเมตร)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
r3 = pd.read_excel('/content/drive/MyDrive/DPDM/ปริมาณฝน(มิลลิเมตร)/จ.สกล.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
r4 = pd.read_excel('/content/drive/MyDrive/DPDM/ปริมาณฝน(มิลลิเมตร)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
r5 = pd.read_excel('/content/drive/MyDrive/DPDM/ปริมาณฝน(มิลลิเมตร)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)

##Rename Columns

In [295]:
r1.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
        'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
r1['จังหวัด'] = 'ขอนแก่น'
r2.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
r2['จังหวัด'] = 'นครพนม'
r3.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
r3['จังหวัด'] = 'สกลนคร'
r4.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
r4['จังหวัด'] = 'หนองคาย'
r5.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
        'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
r5['จังหวัด'] = 'เลย'

##Select Columns

In [296]:
r1 = r1[['จังหวัด','สถานี','เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31']]
r2 = r2[['จังหวัด','สถานี','เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31']]
r3 = r3[['จังหวัด','สถานี','เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31']]
r4 = r4[['จังหวัด','สถานี','เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31']]
r5 = r5[['จังหวัด','สถานี','เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31']]

##สร้างตาราง

```
#แยกตามจังหวัดและตามหัวข้อ
```

####ขอนแก่น

In [297]:
r1.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
r11 = r1.stack().reset_index()
r11.rename(columns = {'level_3':'วัน',0:'ปริมาณฝน'}, inplace = True)
r11['เดือน/ปี'] = pd.to_datetime(r11['เดือน/ปี']).dt.strftime('%m-%Y')
r11['เดือน'] = pd.to_datetime(r11['เดือน/ปี']).dt.strftime('%m')
r11['ปี'] = pd.to_datetime(r11['เดือน/ปี']).dt.strftime('%Y')
r11.shape
r11 = r11[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'ปริมาณฝน']]
r11

      จังหวัด                     สถานี วัน เดือน    ปี ปริมาณฝน
0     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   1    10  2011      1.4
1     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   2    10  2011     17.7
2     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   3    10  2011        3
3     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   4    10  2011        0
4     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   5    10  2011      2.2
...       ...                       ...  ..   ...   ...      ...
1700  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น  27    02  2022        0
1701  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น  28    02  2022        -
1702  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น  29    02  2022        -
1703  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น  30    02  2022        -
1704  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น  31    02  2022        -

[1705 rows x 6 columns]

####นครพนม

In [298]:
r2.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
r22 = r2.stack().reset_index()
r22.rename(columns = {'level_3':'วัน',0:'ปริมาณฝน'}, inplace = True)
r22['เดือน/ปี'] = pd.to_datetime(r22['เดือน/ปี']).dt.strftime('%m-%Y')
r22['เดือน'] = pd.to_datetime(r22['เดือน/ปี']).dt.strftime('%m')
r22['ปี'] = pd.to_datetime(r22['เดือน/ปี']).dt.strftime('%Y')
r22 = r22[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'ปริมาณฝน']]
r22

     จังหวัด                   สถานี วัน เดือน    ปี ปริมาณฝน
0     นครพนม  357201-นครพนม จ.นครพนม   1    10  2011       17
1     นครพนม  357201-นครพนม จ.นครพนม   2    10  2011      0.3
2     นครพนม  357201-นครพนม จ.นครพนม   3    10  2011        0
3     นครพนม  357201-นครพนม จ.นครพนม   4    10  2011      0.3
4     นครพนม  357201-นครพนม จ.นครพนม   5    10  2011      1.9
...      ...                     ...  ..   ...   ...      ...
1700  นครพนม  357201-นครพนม จ.นครพนม  27    02  2022        0
1701  นครพนม  357201-นครพนม จ.นครพนม  28    02  2022        0
1702  นครพนม  357201-นครพนม จ.นครพนม  29    02  2022        -
1703  นครพนม  357201-นครพนม จ.นครพนม  30    02  2022        -
1704  นครพนม  357201-นครพนม จ.นครพนม  31    02  2022        -

[1705 rows x 6 columns]

####สกลนคร

In [299]:
r3.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
r33 = r3.stack().reset_index()
r33.rename(columns = {'level_3':'วัน',0:'ปริมาณฝน'}, inplace = True)
r33['เดือน/ปี'] = pd.to_datetime(r33['เดือน/ปี']).dt.strftime('%m-%Y')
r33['เดือน'] = pd.to_datetime(r33['เดือน/ปี']).dt.strftime('%m')
r33['ปี'] = pd.to_datetime(r33['เดือน/ปี']).dt.strftime('%Y')
r33 = r33[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'ปริมาณฝน']]
r33

     จังหวัด                   สถานี วัน เดือน    ปี ปริมาณฝน
0     สกลนคร  356201-สกลนคร จ.สกลนคร   1    10  2011     84.8
1     สกลนคร  356201-สกลนคร จ.สกลนคร   2    10  2011     28.1
2     สกลนคร  356201-สกลนคร จ.สกลนคร   3    10  2011        0
3     สกลนคร  356201-สกลนคร จ.สกลนคร   4    10  2011        T
4     สกลนคร  356201-สกลนคร จ.สกลนคร   5    10  2011      5.5
...      ...                     ...  ..   ...   ...      ...
1700  สกลนคร  356201-สกลนคร จ.สกลนคร  27    02  2022        0
1701  สกลนคร  356201-สกลนคร จ.สกลนคร  28    02  2022        -
1702  สกลนคร  356201-สกลนคร จ.สกลนคร  29    02  2022        -
1703  สกลนคร  356201-สกลนคร จ.สกลนคร  30    02  2022        -
1704  สกลนคร  356201-สกลนคร จ.สกลนคร  31    02  2022        -

[1705 rows x 6 columns]

####หนองคาย

In [300]:
r4.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
r44 = r4.stack().reset_index()
r44.rename(columns = {'level_3':'วัน',0:'ปริมาณฝน'}, inplace = True)
r44['เดือน/ปี'] = pd.to_datetime(r44['เดือน/ปี']).dt.strftime('%m-%Y')
r44['เดือน'] = pd.to_datetime(r44['เดือน/ปี']).dt.strftime('%m')
r44['ปี'] = pd.to_datetime(r44['เดือน/ปี']).dt.strftime('%Y')
r44 = r44[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'ปริมาณฝน']]
r44

      จังหวัด                     สถานี วัน เดือน    ปี ปริมาณฝน
0     หนองคาย  352201-หนองคาย จ.หนองคาย   1    10  2011     48.6
1     หนองคาย  352201-หนองคาย จ.หนองคาย   2    10  2011       59
2     หนองคาย  352201-หนองคาย จ.หนองคาย   3    10  2011        0
3     หนองคาย  352201-หนองคาย จ.หนองคาย   4    10  2011        1
4     หนองคาย  352201-หนองคาย จ.หนองคาย   5    10  2011     19.1
...       ...                       ...  ..   ...   ...      ...
1700  หนองคาย  352201-หนองคาย จ.หนองคาย  27    02  2022        0
1701  หนองคาย  352201-หนองคาย จ.หนองคาย  28    02  2022        0
1702  หนองคาย  352201-หนองคาย จ.หนองคาย  29    02  2022        -
1703  หนองคาย  352201-หนองคาย จ.หนองคาย  30    02  2022        -
1704  หนองคาย  352201-หนองคาย จ.หนองคาย  31    02  2022        -

[1705 rows x 6 columns]

####เลย

In [301]:
r5.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
r55 = r5.stack().reset_index()
r55.rename(columns = {'level_3':'วัน',0:'ปริมาณฝน'}, inplace = True)
r55['เดือน/ปี'] = pd.to_datetime(r55['เดือน/ปี']).dt.strftime('%m-%Y')
r55['เดือน'] = pd.to_datetime(r55['เดือน/ปี']).dt.strftime('%m')
r55['ปี'] = pd.to_datetime(r55['เดือน/ปี']).dt.strftime('%Y')
r55 = r55[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'ปริมาณฝน']]
r55

     จังหวัด             สถานี วัน เดือน    ปี ปริมาณฝน
0        เลย  353201-เลย จ.เลย   1    10  2011     21.6
1        เลย  353201-เลย จ.เลย   2    10  2011    111.4
2        เลย  353201-เลย จ.เลย   3    10  2011      0.4
3        เลย  353201-เลย จ.เลย   4    10  2011        0
4        เลย  353201-เลย จ.เลย   5    10  2011        0
...      ...               ...  ..   ...   ...      ...
1698     เลย  353201-เลย จ.เลย  27    02  2022        0
1699     เลย  353201-เลย จ.เลย  28    02  2022        0
1700     เลย  353201-เลย จ.เลย  29    02  2022        -
1701     เลย  353201-เลย จ.เลย  30    02  2022        -
1702     เลย  353201-เลย จ.เลย  31    02  2022        -

[1703 rows x 6 columns]

[link text](https://)#รวมตารางจำนวนเมฆ ไม่ได้เพราะว่ามันมีอันที่หายไปง่าาา

##ปริมาณฝนทั้งหมดทุกจังหวัด

In [302]:
rain = pd.concat([r11,r22,r33,r44,r55])
rain

      จังหวัด                     สถานี วัน เดือน    ปี ปริมาณฝน
0     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   1    10  2011      1.4
1     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   2    10  2011     17.7
2     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   3    10  2011        3
3     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   4    10  2011        0
4     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   5    10  2011      2.2
...       ...                       ...  ..   ...   ...      ...
1698      เลย          353201-เลย จ.เลย  27    02  2022        0
1699      เลย          353201-เลย จ.เลย  28    02  2022        0
1700      เลย          353201-เลย จ.เลย  29    02  2022        -
1701      เลย          353201-เลย จ.เลย  30    02  2022        -
1702      เลย          353201-เลย จ.เลย  31    02  2022        -

[8523 rows x 6 columns]

#frost point temperature

In [303]:
f1 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
f2 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
f3 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.สกล.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
f4 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
f5 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)

##Rename Columns

In [304]:
f1.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
        'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
f1['จังหวัด'] = 'ขอนแก่น'
f2.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
f2['จังหวัด'] = 'นครพนม'
f3.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
f3['จังหวัด'] = 'สกลนคร'
f4.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
f4['จังหวัด'] = 'หนองคาย'
f5.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
        'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
f5['จังหวัด'] = 'เลย'

##Select Columns

In [305]:
f1 = f1[['จังหวัด','สถานี','เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31']]
f2 = f2[['จังหวัด','สถานี','เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31']]
f3 = f3[['จังหวัด','สถานี','เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31']]
f4 = f4[['จังหวัด','สถานี','เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31']]
f5 = f5[['จังหวัด','สถานี','เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31']]

##สร้างตาราง

```
#แยกตามจังหวัดและตามหัวข้อ
```

####ขอนแก่น

In [306]:
f1.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
f11 = f1.stack().reset_index()
f11.rename(columns = {'level_3':'วัน',0:'อุณหภูมิจุดน้ำค้าง'}, inplace = True)
f11['เดือน/ปี'] = pd.to_datetime(f11['เดือน/ปี']).dt.strftime('%m-%Y')
f11['เดือน'] = pd.to_datetime(f11['เดือน/ปี']).dt.strftime('%m')
f11['ปี'] = pd.to_datetime(f11['เดือน/ปี']).dt.strftime('%Y')
f11.shape
f11 = f11[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'อุณหภูมิจุดน้ำค้าง']]
f11

      จังหวัด                     สถานี วัน เดือน    ปี อุณหภูมิจุดน้ำค้าง
0     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   1    10  2011               24.2
1     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   2    10  2011               24.0
2     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   3    10  2011               22.9
3     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   4    10  2011               21.9
4     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   5    10  2011               21.7
...       ...                       ...  ..   ...   ...                ...
1700  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น  27    02  2022               15.7
1701  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น  28    02  2022               17.5
1702  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น  29    02  2022                  -
1703  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น  30    02  2022                  -
1704  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น  31    02  2022                  -

[1705 rows x 6 columns]

####นครพนม

In [307]:
f2.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
f22 = f2.stack().reset_index()
f22.rename(columns = {'level_3':'วัน',0:'อุณหภูมิจุดน้ำค้าง'}, inplace = True)
f22['เดือน/ปี'] = pd.to_datetime(f22['เดือน/ปี']).dt.strftime('%m-%Y')
f22['เดือน'] = pd.to_datetime(f22['เดือน/ปี']).dt.strftime('%m')
f22['ปี'] = pd.to_datetime(f22['เดือน/ปี']).dt.strftime('%Y')
f22 = f22[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'อุณหภูมิจุดน้ำค้าง']]
f22

     จังหวัด                   สถานี วัน เดือน    ปี อุณหภูมิจุดน้ำค้าง
0     นครพนม  357201-นครพนม จ.นครพนม   1    10  2011               25.1
1     นครพนม  357201-นครพนม จ.นครพนม   2    10  2011               23.1
2     นครพนม  357201-นครพนม จ.นครพนม   3    10  2011               20.1
3     นครพนม  357201-นครพนม จ.นครพนม   4    10  2011               18.9
4     นครพนม  357201-นครพนม จ.นครพนม   5    10  2011               20.7
...      ...                     ...  ..   ...   ...                ...
1700  นครพนม  357201-นครพนม จ.นครพนม  27    02  2022               13.2
1701  นครพนม  357201-นครพนม จ.นครพนม  28    02  2022               14.9
1702  นครพนม  357201-นครพนม จ.นครพนม  29    02  2022                  -
1703  นครพนม  357201-นครพนม จ.นครพนม  30    02  2022                  -
1704  นครพนม  357201-นครพนม จ.นครพนม  31    02  2022                  -

[1705 rows x 6 columns]

####สกลนคร

In [308]:
f3.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
f33 = f3.stack().reset_index()
f33.rename(columns = {'level_3':'วัน',0:'อุณหภูมิจุดน้ำค้าง'}, inplace = True)
f33['เดือน/ปี'] = pd.to_datetime(f33['เดือน/ปี']).dt.strftime('%m-%Y')
f33['เดือน'] = pd.to_datetime(f33['เดือน/ปี']).dt.strftime('%m')
f33['ปี'] = pd.to_datetime(f33['เดือน/ปี']).dt.strftime('%Y')
f33 = f33[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'อุณหภูมิจุดน้ำค้าง']]
f33

     จังหวัด                   สถานี วัน เดือน    ปี อุณหภูมิจุดน้ำค้าง
0     สกลนคร  356201-สกลนคร จ.สกลนคร   1    10  2011               24.5
1     สกลนคร  356201-สกลนคร จ.สกลนคร   2    10  2011               23.6
2     สกลนคร  356201-สกลนคร จ.สกลนคร   3    10  2011               21.1
3     สกลนคร  356201-สกลนคร จ.สกลนคร   4    10  2011               20.0
4     สกลนคร  356201-สกลนคร จ.สกลนคร   5    10  2011               21.2
...      ...                     ...  ..   ...   ...                ...
1700  สกลนคร  356201-สกลนคร จ.สกลนคร  27    02  2022               15.7
1701  สกลนคร  356201-สกลนคร จ.สกลนคร  28    02  2022               17.3
1702  สกลนคร  356201-สกลนคร จ.สกลนคร  29    02  2022                  -
1703  สกลนคร  356201-สกลนคร จ.สกลนคร  30    02  2022                  -
1704  สกลนคร  356201-สกลนคร จ.สกลนคร  31    02  2022                  -

[1705 rows x 6 columns]

####หนองคาย

In [309]:
f4.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
f44 = f4.stack().reset_index()
f44.rename(columns = {'level_3':'วัน',0:'อุณหภูมิจุดน้ำค้าง'}, inplace = True)
f44['เดือน/ปี'] = pd.to_datetime(f44['เดือน/ปี']).dt.strftime('%m-%Y')
f44['เดือน'] = pd.to_datetime(f44['เดือน/ปี']).dt.strftime('%m')
f44['ปี'] = pd.to_datetime(f44['เดือน/ปี']).dt.strftime('%Y')
f44 = f44[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'อุณหภูมิจุดน้ำค้าง']]
f44

      จังหวัด                     สถานี วัน เดือน    ปี อุณหภูมิจุดน้ำค้าง
0     หนองคาย  352201-หนองคาย จ.หนองคาย   1    10  2011               24.6
1     หนองคาย  352201-หนองคาย จ.หนองคาย   2    10  2011               23.8
2     หนองคาย  352201-หนองคาย จ.หนองคาย   3    10  2011               22.4
3     หนองคาย  352201-หนองคาย จ.หนองคาย   4    10  2011               21.9
4     หนองคาย  352201-หนองคาย จ.หนองคาย   5    10  2011               23.3
...       ...                       ...  ..   ...   ...                ...
1700  หนองคาย  352201-หนองคาย จ.หนองคาย  27    02  2022               15.8
1701  หนองคาย  352201-หนองคาย จ.หนองคาย  28    02  2022               17.8
1702  หนองคาย  352201-หนองคาย จ.หนองคาย  29    02  2022               16.6
1703  หนองคาย  352201-หนองคาย จ.หนองคาย  30    02  2022               14.9
1704  หนองคาย  352201-หนองคาย จ.หนองคาย  31    02  2022                  -

[1705 rows x 6 columns]

####เลย

In [310]:
f5.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
f55 = f5.stack().reset_index()
f55.rename(columns = {'level_3':'วัน',0:'อุณหภูมิจุดน้ำค้าง'}, inplace = True)
f55['เดือน/ปี'] = pd.to_datetime(f55['เดือน/ปี']).dt.strftime('%m-%Y')
f55['เดือน'] = pd.to_datetime(f55['เดือน/ปี']).dt.strftime('%m')
f55['ปี'] = pd.to_datetime(f55['เดือน/ปี']).dt.strftime('%Y')
f55 = f55[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'อุณหภูมิจุดน้ำค้าง']]
f55

     จังหวัด             สถานี วัน เดือน    ปี อุณหภูมิจุดน้ำค้าง
0        เลย  353201-เลย จ.เลย   1    10  2011               23.6
1        เลย  353201-เลย จ.เลย   2    10  2011               23.5
2        เลย  353201-เลย จ.เลย   3    10  2011               21.9
3        เลย  353201-เลย จ.เลย   4    10  2011               21.9
4        เลย  353201-เลย จ.เลย   5    10  2011               21.8
...      ...               ...  ..   ...   ...                ...
1544     เลย  353201-เลย จ.เลย  27    02  2021               13.8
1545     เลย  353201-เลย จ.เลย  28    02  2021               15.2
1546     เลย  353201-เลย จ.เลย  29    02  2021                  -
1547     เลย  353201-เลย จ.เลย  30    02  2021                  -
1548     เลย  353201-เลย จ.เลย  31    02  2021                  -

[1549 rows x 6 columns]

##อุณหภูมิจุดน้ำค้างทั้งหมดทุกจังหวัด

In [311]:
frost = pd.concat([f11,f22,f33,f44,f55])
frost

      จังหวัด                     สถานี วัน เดือน    ปี อุณหภูมิจุดน้ำค้าง
0     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   1    10  2011               24.2
1     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   2    10  2011               24.0
2     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   3    10  2011               22.9
3     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   4    10  2011               21.9
4     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   5    10  2011               21.7
...       ...                       ...  ..   ...   ...                ...
1544      เลย          353201-เลย จ.เลย  27    02  2021               13.8
1545      เลย          353201-เลย จ.เลย  28    02  2021               15.2
1546      เลย          353201-เลย จ.เลย  29    02  2021                  -
1547      เลย          353201-เลย จ.เลย  30    02  2021                  -
1548      เลย          353201-เลย จ.เลย  31    02  2021                  -

[8369 rows x 6 columns]

#dry weight temperature

In [312]:
d1 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
d2 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
d3 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.สกล.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
d4 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
d5 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)

##Rename Columns

In [313]:
d1.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
        'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
d1['จังหวัด'] = 'ขอนแก่น'
d2.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
d2['จังหวัด'] = 'นครพนม'
d3.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
d3['จังหวัด'] = 'สกลนคร'
d4.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
d4['จังหวัด'] = 'หนองคาย'
d5.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
        'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
d5['จังหวัด'] = 'เลย'

##Select Columns

In [314]:
d1 = d1[['จังหวัด','สถานี','เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31']]
d2 = d2[['จังหวัด','สถานี','เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31']]
d3 = d3[['จังหวัด','สถานี','เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31']]
d4 = d4[['จังหวัด','สถานี','เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31']]
d5 = d5[['จังหวัด','สถานี','เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31']]

##สร้างตาราง

```
#แยกตามจังหวัดและตามหัวข้อ
```

####ขอนแก่น

In [315]:
d1.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
d11 = d1.stack().reset_index()
d11.rename(columns = {'level_3':'วัน',0:'อุณหภูมิตุ้มแห้ง'}, inplace = True)
d11['เดือน/ปี'] = pd.to_datetime(d11['เดือน/ปี']).dt.strftime('%m-%Y')
d11['เดือน'] = pd.to_datetime(d11['เดือน/ปี']).dt.strftime('%m')
d11['ปี'] = pd.to_datetime(d11['เดือน/ปี']).dt.strftime('%Y')
d11.shape
d11 = d11[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'อุณหภูมิตุ้มแห้ง']]
d11

      จังหวัด                     สถานี วัน เดือน    ปี อุณหภูมิตุ้มแห้ง
0     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   1    10  2011             27.6
1     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   2    10  2011             25.6
2     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   3    10  2011             25.6
3     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   4    10  2011             25.8
4     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   5    10  2011             24.3
...       ...                       ...  ..   ...   ...              ...
1700  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น  27    02  2022             25.1
1701  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น  28    02  2022             25.9
1702  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น  29    02  2022                -
1703  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น  30    02  2022                -
1704  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น  31    02  2022                -

[1705 rows x 6 columns]

####นครพนม

In [316]:
d2.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
d22 = d2.stack().reset_index()
d22.rename(columns = {'level_3':'วัน',0:'อุณหภูมิตุ้มแห้ง'}, inplace = True)
d22['เดือน/ปี'] = pd.to_datetime(d22['เดือน/ปี']).dt.strftime('%m-%Y')
d22['เดือน'] = pd.to_datetime(d22['เดือน/ปี']).dt.strftime('%m')
d22['ปี'] = pd.to_datetime(d22['เดือน/ปี']).dt.strftime('%Y')
d22 = d22[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'อุณหภูมิตุ้มแห้ง']]
d22

     จังหวัด                   สถานี วัน เดือน    ปี อุณหภูมิตุ้มแห้ง
0     นครพนม  357201-นครพนม จ.นครพนม   1    10  2011             25.9
1     นครพนม  357201-นครพนม จ.นครพนม   2    10  2011             26.1
2     นครพนม  357201-นครพนม จ.นครพนม   3    10  2011             25.3
3     นครพนม  357201-นครพนม จ.นครพนม   4    10  2011             24.7
4     นครพนม  357201-นครพนม จ.นครพนม   5    10  2011             23.1
...      ...                     ...  ..   ...   ...              ...
1700  นครพนม  357201-นครพนม จ.นครพนม  27    02  2022             24.1
1701  นครพนม  357201-นครพนม จ.นครพนม  28    02  2022             24.0
1702  นครพนม  357201-นครพนม จ.นครพนม  29    02  2022                -
1703  นครพนม  357201-นครพนม จ.นครพนม  30    02  2022                -
1704  นครพนม  357201-นครพนม จ.นครพนม  31    02  2022                -

[1705 rows x 6 columns]

####สกลนคร

In [317]:
d3.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
d33 = d3.stack().reset_index()
d33.rename(columns = {'level_3':'วัน',0:'อุณหภูมิตุ้มแห้ง'}, inplace = True)
d33['เดือน/ปี'] = pd.to_datetime(d33['เดือน/ปี']).dt.strftime('%m-%Y')
d33['เดือน'] = pd.to_datetime(d33['เดือน/ปี']).dt.strftime('%m')
d33['ปี'] = pd.to_datetime(d33['เดือน/ปี']).dt.strftime('%Y')
d33 = d33[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'อุณหภูมิตุ้มแห้ง']]
d33

     จังหวัด                   สถานี วัน เดือน    ปี อุณหภูมิตุ้มแห้ง
0     สกลนคร  356201-สกลนคร จ.สกลนคร   1    10  2011             26.9
1     สกลนคร  356201-สกลนคร จ.สกลนคร   2    10  2011             25.9
2     สกลนคร  356201-สกลนคร จ.สกลนคร   3    10  2011             25.7
3     สกลนคร  356201-สกลนคร จ.สกลนคร   4    10  2011             25.2
4     สกลนคร  356201-สกลนคร จ.สกลนคร   5    10  2011             23.6
...      ...                     ...  ..   ...   ...              ...
1700  สกลนคร  356201-สกลนคร จ.สกลนคร  27    02  2022             23.2
1701  สกลนคร  356201-สกลนคร จ.สกลนคร  28    02  2022             24.4
1702  สกลนคร  356201-สกลนคร จ.สกลนคร  29    02  2022                -
1703  สกลนคร  356201-สกลนคร จ.สกลนคร  30    02  2022                -
1704  สกลนคร  356201-สกลนคร จ.สกลนคร  31    02  2022                -

[1705 rows x 6 columns]

####หนองคาย

In [318]:
d4.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
d44 = d4.stack().reset_index()
d44.rename(columns = {'level_3':'วัน',0:'อุณหภูมิตุ้มแห้ง'}, inplace = True)
d44['เดือน/ปี'] = pd.to_datetime(d44['เดือน/ปี']).dt.strftime('%m-%Y')
d44['เดือน'] = pd.to_datetime(d44['เดือน/ปี']).dt.strftime('%m')
d44['ปี'] = pd.to_datetime(d44['เดือน/ปี']).dt.strftime('%Y')
d44 = d44[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'อุณหภูมิตุ้มแห้ง']]
d44

      จังหวัด                     สถานี วัน เดือน    ปี อุณหภูมิตุ้มแห้ง
0     หนองคาย  352201-หนองคาย จ.หนองคาย   1    10  2011             26.7
1     หนองคาย  352201-หนองคาย จ.หนองคาย   2    10  2011             25.5
2     หนองคาย  352201-หนองคาย จ.หนองคาย   3    10  2011             27.0
3     หนองคาย  352201-หนองคาย จ.หนองคาย   4    10  2011             26.8
4     หนองคาย  352201-หนองคาย จ.หนองคาย   5    10  2011             24.9
...       ...                       ...  ..   ...   ...              ...
1700  หนองคาย  352201-หนองคาย จ.หนองคาย  27    02  2022             23.8
1701  หนองคาย  352201-หนองคาย จ.หนองคาย  28    02  2022             25.4
1702  หนองคาย  352201-หนองคาย จ.หนองคาย  29    02  2022                -
1703  หนองคาย  352201-หนองคาย จ.หนองคาย  30    02  2022                -
1704  หนองคาย  352201-หนองคาย จ.หนองคาย  31    02  2022                -

[1705 rows x 6 columns]

####เลย

In [319]:
d5.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
d55 = d5.stack().reset_index()
d55.rename(columns = {'level_3':'วัน',0:'อุณหภูมิตุ้มแห้ง'}, inplace = True)
d55['เดือน/ปี'] = pd.to_datetime(d55['เดือน/ปี']).dt.strftime('%m-%Y')
d55['เดือน'] = pd.to_datetime(d55['เดือน/ปี']).dt.strftime('%m')
d55['ปี'] = pd.to_datetime(d55['เดือน/ปี']).dt.strftime('%Y')
d55 = d55[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'อุณหภูมิตุ้มแห้ง']]
d55

     จังหวัด             สถานี วัน เดือน    ปี อุณหภูมิตุ้มแห้ง
0        เลย  353201-เลย จ.เลย   1    10  2011             26.3
1        เลย  353201-เลย จ.เลย   2    10  2011             25.1
2        เลย  353201-เลย จ.เลย   3    10  2011             24.4
3        เลย  353201-เลย จ.เลย   4    10  2011             25.2
4        เลย  353201-เลย จ.เลย   5    10  2011             25.6
...      ...               ...  ..   ...   ...              ...
1545     เลย  353201-เลย จ.เลย  27    02  2021             25.2
1546     เลย  353201-เลย จ.เลย  28    02  2021             25.6
1547     เลย  353201-เลย จ.เลย  29    02  2021                -
1548     เลย  353201-เลย จ.เลย  30    02  2021                -
1549     เลย  353201-เลย จ.เลย  31    02  2021                -

[1550 rows x 6 columns]

##อุณหภูมิตุ้มแห้งทั้งหมดทุกจังหวัด

In [320]:
dry = pd.concat([d11,d22,d33,d44,d55])
dry

      จังหวัด                     สถานี วัน เดือน    ปี อุณหภูมิตุ้มแห้ง
0     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   1    10  2011             27.6
1     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   2    10  2011             25.6
2     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   3    10  2011             25.6
3     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   4    10  2011             25.8
4     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   5    10  2011             24.3
...       ...                       ...  ..   ...   ...              ...
1545      เลย          353201-เลย จ.เลย  27    02  2021             25.2
1546      เลย          353201-เลย จ.เลย  28    02  2021             25.6
1547      เลย          353201-เลย จ.เลย  29    02  2021                -
1548      เลย          353201-เลย จ.เลย  30    02  2021                -
1549      เลย          353201-เลย จ.เลย  31    02  2021                -

[8370 rows x 6 columns]

#lowest temperature

In [321]:
l1 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิต่ำสุด(เซลเซียส)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
l2 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิต่ำสุด(เซลเซียส)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
l3 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิต่ำสุด(เซลเซียส)/จ.สกล.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
l4 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิต่ำสุด(เซลเซียส)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)
l5 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิต่ำสุด(เซลเซียส)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).drop(0, axis=0)

##Rename Columns

In [322]:
l1.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
        'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
l1['จังหวัด'] = 'ขอนแก่น'
l2.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
l2['จังหวัด'] = 'นครพนม'
l3.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
l3['จังหวัด'] = 'สกลนคร'
l4.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
l4['จังหวัด'] = 'หนองคาย'
l5.rename(columns = {'วันที่':'1', 'Unnamed: 4':'2', 'Unnamed: 5':'3',
        'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':'16',
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'}, inplace = True)
l5['จังหวัด'] = 'เลย'

##Select Columns

In [323]:
l1 = l1[['จังหวัด','สถานี','เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31']]
l2 = l2[['จังหวัด','สถานี','เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31']]
l3 = l3[['จังหวัด','สถานี','เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31']]
l4 = l4[['จังหวัด','สถานี','เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31']]
l5 = l5[['จังหวัด','สถานี','เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31']]

##สร้างตาราง

```
#แยกตามจังหวัดและตามหัวข้อ
```

####ขอนแก่น

In [324]:
l1.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
l11 = l1.stack().reset_index()
l11.rename(columns = {'level_3':'วัน',0:'อุณหภูมิต่ำสุด'}, inplace = True)
l11['เดือน/ปี'] = pd.to_datetime(l11['เดือน/ปี']).dt.strftime('%m-%Y')
l11['เดือน'] = pd.to_datetime(l11['เดือน/ปี']).dt.strftime('%m')
l11['ปี'] = pd.to_datetime(l11['เดือน/ปี']).dt.strftime('%Y')
l11.shape
l11 = l11[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'อุณหภูมิต่ำสุด']]
l11

      จังหวัด                     สถานี วัน เดือน    ปี อุณหภูมิต่ำสุด
0     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   1    10  2011           24.8
1     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   2    10  2011           23.0
2     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   3    10  2011           22.1
3     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   4    10  2011           22.8
4     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   5    10  2011           23.1
...       ...                       ...  ..   ...   ...            ...
1700  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น  27    02  2022           18.2
1701  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น  28    02  2022              -
1702  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น  29    02  2022              -
1703  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น  30    02  2022              -
1704  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น  31    02  2022              -

[1705 rows x 6 columns]

####นครพนม

In [325]:
l2.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
l22 = l2.stack().reset_index()
l22.rename(columns = {'level_3':'วัน',0:'อุณหภูมิต่ำสุด'}, inplace = True)
l22['เดือน/ปี'] = pd.to_datetime(l22['เดือน/ปี']).dt.strftime('%m-%Y')
l22['เดือน'] = pd.to_datetime(l22['เดือน/ปี']).dt.strftime('%m')
l22['ปี'] = pd.to_datetime(l22['เดือน/ปี']).dt.strftime('%Y')
l22 = l22[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'อุณหภูมิต่ำสุด']]
l22

     จังหวัด                   สถานี วัน เดือน    ปี อุณหภูมิต่ำสุด
0     นครพนม  357201-นครพนม จ.นครพนม   1    10  2011           25.0
1     นครพนม  357201-นครพนม จ.นครพนม   2    10  2011           23.4
2     นครพนม  357201-นครพนม จ.นครพนม   3    10  2011           22.2
3     นครพนม  357201-นครพนม จ.นครพนม   4    10  2011           20.6
4     นครพนม  357201-นครพนม จ.นครพนม   5    10  2011           21.1
...      ...                     ...  ..   ...   ...            ...
1700  นครพนม  357201-นครพนม จ.นครพนม  27    02  2022           18.1
1701  นครพนม  357201-นครพนม จ.นครพนม  28    02  2022             16
1702  นครพนม  357201-นครพนม จ.นครพนม  29    02  2022              -
1703  นครพนม  357201-นครพนม จ.นครพนม  30    02  2022              -
1704  นครพนม  357201-นครพนม จ.นครพนม  31    02  2022              -

[1705 rows x 6 columns]

####สกลนคร

In [326]:
l3.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
l33 = l3.stack().reset_index()
l33.rename(columns = {'level_3':'วัน',0:'อุณหภูมิต่ำสุด'}, inplace = True)
l33['เดือน/ปี'] = pd.to_datetime(l33['เดือน/ปี']).dt.strftime('%m-%Y')
l33['เดือน'] = pd.to_datetime(l33['เดือน/ปี']).dt.strftime('%m')
l33['ปี'] = pd.to_datetime(l33['เดือน/ปี']).dt.strftime('%Y')
l33 = l33[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'อุณหภูมิต่ำสุด']]
l33

     จังหวัด                   สถานี วัน เดือน    ปี อุณหภูมิต่ำสุด
0     สกลนคร  356201-สกลนคร จ.สกลนคร   1    10  2011           24.5
1     สกลนคร  356201-สกลนคร จ.สกลนคร   2    10  2011           23.1
2     สกลนคร  356201-สกลนคร จ.สกลนคร   3    10  2011           22.6
3     สกลนคร  356201-สกลนคร จ.สกลนคร   4    10  2011           21.8
4     สกลนคร  356201-สกลนคร จ.สกลนคร   5    10  2011           22.5
...      ...                     ...  ..   ...   ...            ...
1700  สกลนคร  356201-สกลนคร จ.สกลนคร  27    02  2022           16.1
1701  สกลนคร  356201-สกลนคร จ.สกลนคร  28    02  2022              -
1702  สกลนคร  356201-สกลนคร จ.สกลนคร  29    02  2022              -
1703  สกลนคร  356201-สกลนคร จ.สกลนคร  30    02  2022              -
1704  สกลนคร  356201-สกลนคร จ.สกลนคร  31    02  2022              -

[1705 rows x 6 columns]

####หนองคาย

In [327]:
l4.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
l44 = l4.stack().reset_index()
l44.rename(columns = {'level_3':'วัน',0:'อุณหภูมิต่ำสุด'}, inplace = True)
l44['เดือน/ปี'] = pd.to_datetime(l44['เดือน/ปี']).dt.strftime('%m-%Y')
l44['เดือน'] = pd.to_datetime(l44['เดือน/ปี']).dt.strftime('%m')
l44['ปี'] = pd.to_datetime(l44['เดือน/ปี']).dt.strftime('%Y')
l44 = l44[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'อุณหภูมิต่ำสุด']]
l44

      จังหวัด                     สถานี วัน เดือน    ปี อุณหภูมิต่ำสุด
0     หนองคาย  352201-หนองคาย จ.หนองคาย   1    10  2011           25.3
1     หนองคาย  352201-หนองคาย จ.หนองคาย   2    10  2011           23.3
2     หนองคาย  352201-หนองคาย จ.หนองคาย   3    10  2011           23.6
3     หนองคาย  352201-หนองคาย จ.หนองคาย   4    10  2011           23.8
4     หนองคาย  352201-หนองคาย จ.หนองคาย   5    10  2011           23.3
...       ...                       ...  ..   ...   ...            ...
1700  หนองคาย  352201-หนองคาย จ.หนองคาย  27    02  2022           17.5
1701  หนองคาย  352201-หนองคาย จ.หนองคาย  28    02  2022             19
1702  หนองคาย  352201-หนองคาย จ.หนองคาย  29    02  2022              -
1703  หนองคาย  352201-หนองคาย จ.หนองคาย  30    02  2022              -
1704  หนองคาย  352201-หนองคาย จ.หนองคาย  31    02  2022              -

[1705 rows x 6 columns]

####เลย

In [328]:
l5.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
l55 = l5.stack().reset_index()
l55.rename(columns = {'level_3':'วัน',0:'อุณหภูมิต่ำสุด'}, inplace = True)
l55['เดือน/ปี'] = pd.to_datetime(l55['เดือน/ปี']).dt.strftime('%m-%Y')
l55['เดือน'] = pd.to_datetime(l55['เดือน/ปี']).dt.strftime('%m')
l55['ปี'] = pd.to_datetime(l55['เดือน/ปี']).dt.strftime('%Y')
l55 = l55[['จังหวัด', 'สถานี', 'วัน', 'เดือน', 'ปี', 'อุณหภูมิต่ำสุด']]
l55

     จังหวัด             สถานี วัน เดือน    ปี อุณหภูมิต่ำสุด
0        เลย  353201-เลย จ.เลย   1    10  2011           23.5
1        เลย  353201-เลย จ.เลย   2    10  2011           24.3
2        เลย  353201-เลย จ.เลย   3    10  2011           22.5
3        เลย  353201-เลย จ.เลย   4    10  2011           23.0
4        เลย  353201-เลย จ.เลย   5    10  2011           22.7
...      ...               ...  ..   ...   ...            ...
1700     เลย  353201-เลย จ.เลย  27    02  2022           15.0
1701     เลย  353201-เลย จ.เลย  28    02  2022           17.6
1702     เลย  353201-เลย จ.เลย  29    02  2022              -
1703     เลย  353201-เลย จ.เลย  30    02  2022              -
1704     เลย  353201-เลย จ.เลย  31    02  2022              -

[1705 rows x 6 columns]

##อุณหภูมิต่ำสุดทั้งหมดทุกจังหวัด

In [329]:
low = pd.concat([l11,l22,l33,l44,l55])
low

      จังหวัด                     สถานี วัน เดือน    ปี อุณหภูมิต่ำสุด
0     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   1    10  2011           24.8
1     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   2    10  2011           23.0
2     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   3    10  2011           22.1
3     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   4    10  2011           22.8
4     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น   5    10  2011           23.1
...       ...                       ...  ..   ...   ...            ...
1700      เลย          353201-เลย จ.เลย  27    02  2022           15.0
1701      เลย          353201-เลย จ.เลย  28    02  2022           17.6
1702      เลย          353201-เลย จ.เลย  29    02  2022              -
1703      เลย          353201-เลย จ.เลย  30    02  2022              -
1704      เลย          353201-เลย จ.เลย  31    02  2022              -

[8525 rows x 6 columns]

#รวมทุกตาราง

In [335]:
p = pressure[['จังหวัด','วัน','เดือน','ปี','ความกด']]
m = moisture[['จังหวัด','วัน','เดือน','ปี','ความชื้น']]
w = wind[['จังหวัด','วัน','เดือน','ปี','ความเร็วลม']]
c = cloud[['จังหวัด','วัน','เดือน','ปี','จำนวนเมฆ']] 
r = rain[['จังหวัด','วัน','เดือน','ปี','ปริมาณฝน']]
f = frost[['จังหวัด','วัน','เดือน','ปี','อุณหภูมิจุดน้ำค้าง']]
l = low[['จังหวัด','วัน','เดือน','ปี','อุณหภูมิต่ำสุด']]
d = dry[['จังหวัด','วัน','เดือน','ปี','อุณหภูมิตุ้มแห้ง']]

In [337]:
x1 = pd.merge(p,m)
x2 = pd.merge(x1,w)
x3 = pd.merge(x2,c)
x4 = pd.merge(x3,r)
x5 = pd.merge(x4,f)
x6 = pd.merge(x5,l)
all = pd.merge(x6,d)
all

,จังหวัด,วัน,เดือน,ปี,ความกด,ความชื้น,ความเร็วลม,จำนวนเมฆ,ปริมาณฝน,อุณหภูมิจุดน้ำค้าง,อุณหภูมิต่ำสุด,อุณหภูมิตุ้มแห้ง
0,ขอนแก่น,1,10,2011,1005.47,83,3,9,1.4,24.2,24.8,27.6
1,ขอนแก่น,2,10,2011,1006.65,92,2,10,17.7,24.0,23.0,25.6
2,ขอนแก่น,3,10,2011,1007.49,86,3,10,3,22.9,22.1,25.6
3,ขอนแก่น,4,10,2011,1008.28,80,2,8,0,21.9,22.8,25.8
4,ขอนแก่น,5,10,2011,1009.88,86,2,10,2.2,21.7,23.1,24.3
...,...,...,...,...,...,...,...,...,...,...,...,...
8359,เลย,27,02,2021,1005.76,56,56,2,0,13.8,15.3,25.2
8360,เลย,28,02,2021,1008.21,58,58,1,0,15.2,16,25.6
8361,เลย,29,02,2021,-,-,-,4,-,-,-,-
8362,เลย,30,02,2021,-,-,-,-,-,-,-,-
8363,เลย,31,02,2021,-,-,-,-,-,-,-,-