<a href="https://colab.research.google.com/github/nxxk23/bsc_dpdm22/blob/main/Quiz_Group_5_20_of_Midterm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

เตรียมข้อมูลของกรม อุตุ() ให้อยู่ในรูปแบบ ตารางด้านล่าง เพื่อเตรียมข้อมูลสำหรับสร้าง Model ทำนาย อุณหภูมิต่ำสุดของวันจากค่าอื่นๆ

![image.png]()

column เดือน-ปี สามารถยุบรวมเป็น 1 column ได้

In [1]:
#เชื่อม google drive 
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#pressure

In [20]:
import pandas as pd
p1 = pd.read_excel('/content/drive/MyDrive/DPDM/ความกด(เปอร์เซ็นต์)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=4)
p2 = pd.read_excel('/content/drive/MyDrive/DPDM/ความกด(เปอร์เซ็นต์)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=4)
p3 = pd.read_excel('/content/drive/MyDrive/DPDM/ความกด(เปอร์เซ็นต์)/จ.สกลนคร.xlsx',sheet_name='Sheet1',skiprows=4)
p4 = pd.read_excel('/content/drive/MyDrive/DPDM/ความกด(เปอร์เซ็นต์)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=4)
p5 = pd.read_excel('/content/drive/MyDrive/DPDM/ความกด(เปอร์เซ็นต์)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=4)

In [31]:
p1.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,Unnamed: 34
0,1,352201-หนองคาย จ.หนองคาย,2011-10-01,1005.47,1006.65,1007.49,1008.28,1009.88,1011.36,1011.17,...,1010.76,1010.23,1011.34,1011.84,1011.89,1012.29,1011.67,1011.3,1011.52,1010.350645
1,2,352201-หนองคาย จ.หนองคาย,2011-11-01,1011.79,1010.83,1010.74,1010.71,1010.09,1009.24,1008.03,...,1014.07,1015.40,1013.95,1012.35,1011.31,1009.59,1010.13,1010.47,-,1011.717000
2,3,352201-หนองคาย จ.หนองคาย,2011-12-01,1011.43,1012.57,1012.28,1012.97,1013.09,1012.03,1012.05,...,1012.88,1015.78,1018.56,1018.65,1016.88,1016.05,1014.98,1015.53,1016.4,1016.470000
3,1,352201-หนองคาย จ.หนองคาย,2012-01-01,1015.67,1014.11,1012.91,1014.06,1015.51,1015.88,1017.72,...,1010.91,1011.27,1011.65,1012.56,1010.76,1010.26,1010.69,1012.34,1014.52,1012.484516
4,2,352201-หนองคาย จ.หนองคาย,2012-02-01,1013.26,1012.92,1013.61,1013.18,1011.26,1008.80,1008.16,...,1005.75,1005.46,1004.80,1005.08,1006.57,1005.96,1006.53,1010.47,-,1009.749667

#moisture

In [21]:
import pandas as pd
m1 = pd.read_excel('/content/drive/MyDrive/DPDM/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3)
m2 = pd.read_excel('/content/drive/MyDrive/DPDM/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3)
m3 = pd.read_excel('/content/drive/MyDrive/DPDM/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.สกลนคร.xlsx',sheet_name='Sheet1',skiprows=3)
m4 = pd.read_excel('/content/drive/MyDrive/DPDM/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3)
m5 = pd.read_excel('/content/drive/MyDrive/DPDM/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3)

#wind speed

In [24]:
import pandas as pd
w1 = pd.read_excel('/content/drive/MyDrive/DPDM/ความเร็วลม(นอต)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3)
w2 = pd.read_excel('/content/drive/MyDrive/DPDM/ความเร็วลม(นอต)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3)
w3 = pd.read_excel('/content/drive/MyDrive/DPDM/ความเร็วลม(นอต)/จ.สกลนคร.xlsx',sheet_name='Sheet1',skiprows=3)
w4 = pd.read_excel('/content/drive/MyDrive/DPDM/ความเร็วลม(นอต)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3)
w5 = pd.read_excel('/content/drive/MyDrive/DPDM/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3)

#number of clouds

In [23]:
c1 = pd.read_excel('/content/drive/MyDrive/DPDM/จำนวนเมฆ(10ส่วน)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3)
c2 = pd.read_excel('/content/drive/MyDrive/DPDM/จำนวนเมฆ(10ส่วน)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3)
c3 = pd.read_excel('/content/drive/MyDrive/DPDM/จำนวนเมฆ(10ส่วน)/จ.สกลนคร.xlsx',sheet_name='Sheet1',skiprows=3)
c4 = pd.read_excel('/content/drive/MyDrive/DPDM/จำนวนเมฆ(10ส่วน)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3)
c5 = pd.read_excel('/content/drive/MyDrive/DPDM/จำนวนเมฆ(10ส่วน)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3)

#amount of rain

In [26]:
r1 = pd.read_excel('/content/drive/MyDrive/DPDM/ปริมาณฝน(มิลลิเมตร)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3)
r2 = pd.read_excel('/content/drive/MyDrive/DPDM/ปริมาณฝน(มิลลิเมตร)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3)
r3 = pd.read_excel('/content/drive/MyDrive/DPDM/ปริมาณฝน(มิลลิเมตร)/จ.สกล.xlsx',sheet_name='Sheet1',skiprows=3)
r4 = pd.read_excel('/content/drive/MyDrive/DPDM/ปริมาณฝน(มิลลิเมตร)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3)
r5 = pd.read_excel('/content/drive/MyDrive/DPDM/ปริมาณฝน(มิลลิเมตร)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3)

#frost point temperature

In [30]:
f1 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3)
f2 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3)
f3 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.สกล.xlsx',sheet_name='Sheet1',skiprows=3)
f4 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3)
f5 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3)

#dry weight temperature

In [28]:
d1 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3)
d2 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3)
d3 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.สกล.xlsx',sheet_name='Sheet1',skiprows=3)
d4 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3)
d5 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3)

#lowest temperature

In [29]:
l1 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3)
l2 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3)
l3 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.สกล.xlsx',sheet_name='Sheet1',skiprows=3)
l4 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3)
l5 = pd.read_excel('/content/drive/MyDrive/DPDM/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3)